// Coding
// -------------------------
#codeEditor {
  display: none;
  
  &.active {
    display: table-row;
    height: 50%;
  }
}

.ace_editor {
  border-top: solid 1px #c8c8c8;
  margin-top: -1px;
}