// Dropdown Picker
// -------------------------
.dropdown-picker {
  font-size: 11px;
  display: inline-block;
  
  .btn::after {
    display: none;
  }
  
  * {
    font-size: 11px;
  }
}

body[mode="animation"][selector="true"] .dropdown-picker {
	&.is-not-animatable {
  	border-bottom: #ff0000 solid 1px;
  }
}

.dropdown-menu {
	&.is-not-animatable {
		.dropdown-item[value='coding'] {
  		text-decoration: underline #ff0000 2px;
  	}
  }
}