// Dropdown Picker
// -------------------------
.dropdown-picker {
  font-size: 11px;
  display: inline-block;
  
  .btn::after {
    display: none;
  }
  
  * {
    font-size: 11px;
  }
}

body[mode="animation"] .dropdown-picker {
	&.is-not-animatable {
  	border-bottom: #ff0000 solid 1px;
  }
}