// Grid & Display Picker
// -------------------------
.grid-picker,
.display-picker {
  .btn-group {
    
    .btn {
      line-height: 1.15;
      width: 48px;
      margin-bottom: 0;
    }
    
    &:first-child {
      .btn {
        border-radius: 5px 0 0 5px;
      }
    }
    &:last-child {
      .btn {
        border-radius: 0 5px 5px 0;
      }
    }
    
    .fa {
      font-size: 1.2em;
      margin: 0;
    }
    
    .form-check {
      text-align: center;
      padding: 0;
      
      input {
        position: relative;
        margin: 0;
        pointer-events: none;
      }
    }
  }
}
.preview-size-picker {
	position: relative;
	top: -2px;
	margin-top: 1px;

  .btn-group {
    padding: 0;
    
    .btn {
      line-height: 12px;
      margin-bottom: 0;
    	padding: 0 3px;
    }
    
    &:first-child {
      .btn {
        border-radius: 5px 0 0 5px;
      }
    }
    &:last-child {
      .btn {
        border-radius: 0 5px 5px 0;
      }
    }
    
    .fa {
      font-size: 12px;
      margin: 0;
    	padding: 3px 0;
    }
  }
}
body[mode="data"], body[mode="services"] {
	.preview-size-picker-container {
		display: none;
	}
	#area-container {
		width: 100% !important;
	}
}