// Layer Manager
// -------------------------
.layer-manager-container {
  display: block;
  width: 100%;
  height: 100%;
  
	.tree-container {
    height: 100%;
		border: none;
		height: auto;
		padding: 2px 0 2px 2px;
		overflow: hidden;
	}
		
	.treenode-container {
		cursor: pointer;
		
		.treenode-body {
			padding: 0 3px;
			background-color: #fbfbfb;
			border: solid 1px #cccccc;
			border-left: solid 4px #cccccc;
			position: relative;
		
			.form-check {
				padding: 0;
				
				input[type="checkbox"] {
					display: none;
				}
			}
			
			.treenode-title {
				padding-left: 5px;
				font-size: 12.5px;
			}
			
			&.offset-1 { margin-left: 3%; }
			&.offset-2 { margin-left: 6%; }
			&.offset-3 { margin-left: 9%; }
			&.offset-4 { margin-left: 12%; }
			&.offset-5 { margin-left: 15%; }
			&.offset-6 { margin-left: 18%; }
			&.offset-7 { margin-left: 21%; }
			&.offset-8 { margin-left: 24%; }
			&.offset-9 { margin-left: 27%; }
			&.offset-10 { margin-left: 30%; }
			&.offset-11 { margin-left: 33%; }
			&.offset-12 { margin-left: 36%; }
			&.offset-13 { margin-left: 39%; }
			&.offset-14 { margin-left: 42%; }
			&.offset-15 { margin-left: 45%; }
			&.offset-16 { margin-left: 48%; }
			&.offset-17 { margin-left: 51%; }
			&.offset-18 { margin-left: 54%; }
			&.offset-19 { margin-left: 57%; }
			&.offset-20 { margin-left: 60%; }
		}
		
		&.selected {
			.treenode-body {
				background-color: rgba(0, 144, 255, 0.75);
				border-color: rgba(0, 144, 255, 1.0);
				color: #ffffff;
			}
			
			cursor: default;
			
			&.dragable {
				cursor: move;
			}
		}
		
		&.freezed {
			pointer-events: none;
			
			.treenode-body {
				background-color: #f0f0f0;
				border-left-color: #eaeaea;
				color: #999999;
			}
		}
		
		&.dragging {
			pointer-events: none;
			
			.treenode-body {
				background-color: transparent;
				color: transparent;
				border: dashed 1px #999999;
			}
		}
		
		&.insert-top {
			.treenode-body::before {
				content: '';
				display: block;
				position: absolute;
				top: -3.5px;
				left: -4px;
				right: 0;
				z-index: 100;
				height: 5px;
				background-color: rgba(0, 200, 255, 1.0);
				flex: 0 0 100%;
			}
		}
		
		&.insert-inside {
			.treenode-body {
				background-color: rgba(0, 200, 255, 0.75);
				border-color: rgba(0, 200, 255, 1.0);
				color: #ffffff;
			}
		}
		
		&.insert-bottom {
			.treenode-body::after {
				content: '';
				display: block;
				position: absolute;
				bottom: -3.5px;
				left: -4px;
				right: 0;
				z-index: 100;
				height: 5px;
				background-color: rgba(0, 200, 255, 1.0);
				flex: 0 0 100%;
			}
		}
	}
	
	.treenode-outer-container.is-react-component {
		> .treenode-container {
			> .treenode-body {
				border-color: #7f20ff;
			}
		}
	}
	
	.treenode-outer-container.is-containing-preset {
		> .treenode-container {
			> .treenode-body {
				border-color: #ff00ff;
			}
		}
	}
	
	&.dragger {
		position: absolute;
		left: 0;
		top: 0;
		z-index: #{$maximum-z-index - 100};
		opacity: 0.5;
	}
}