// Schema Manager
// -------------------------
.schema-manager {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
	.tree-container {
    width: 100%;
    height: 100%;
  	position: relative;
    padding: 10px 15px;
	  overflow-y: scroll;
	  overflow-x: hidden;
  
	  &::before {
	  	content: 'Index A-Z';
	  	display: block;
	  	position: relative;
	  	color: #444444;
	  	font-size: 18px;
			font-weight: bold;
			margin-bottom: 5px;
	  }
	}
		
	.treenode-container {
		cursor: default;
		
		.treenode-body {
			padding: 0 8px;
			background-color: none;
			border: none;
			position: relative;
		
			.form-check {
				padding: 0;
				
				input[type="checkbox"] {
					display: none;
				}
			}
			
			.treenode-title {
				padding-left: 5px;
				font-size: 13px;
			}
			
			&.offset-1 { margin-left: 3%; }
			&.offset-2 { margin-left: 6%; }
			&.offset-3 { margin-left: 9%; }
			&.offset-4 { margin-left: 12%; }
			&.offset-5 { margin-left: 15%; }
			&.offset-6 { margin-left: 18%; }
			&.offset-7 { margin-left: 21%; }
			&.offset-8 { margin-left: 24%; }
			&.offset-9 { margin-left: 27%; }
			&.offset-10 { margin-left: 30%; }
			&.offset-11 { margin-left: 33%; }
			&.offset-12 { margin-left: 36%; }
			&.offset-13 { margin-left: 39%; }
			&.offset-14 { margin-left: 42%; }
			&.offset-15 { margin-left: 45%; }
			&.offset-16 { margin-left: 48%; }
			&.offset-17 { margin-left: 51%; }
			&.offset-18 { margin-left: 54%; }
			&.offset-19 { margin-left: 57%; }
			&.offset-20 { margin-left: 60%; }
		}
	}
	
	.treenode-outer-container {
		&.title {
			margin-bottom: 10px;
			
			&> .treenode-container > .treenode-body > .form-check > .form-check-label {
				.treenode-title {
					color: #444444;
					font-weight: bold;
				}
			}
		}
		&.pseudo {
			opacity: 0.25;
		}
		&.subtitle > .treenode-container > .treenode-body > .form-check > .form-check-label {
			.treenode-title {
				color: #aaaaaa;
				font-size: 10px;
				text-transform: uppercase;
			}
		}
		&.item > .treenode-container > .treenode-body > .form-check > .form-check-label {
			.treenode-title {
				
			}
		}
	}
}