// Site Preview
// -------------------------
.site-preview {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: none;
	
	.close-button {
		position: absolute;
		top: 62px;
		right: 12px;
		border-radius: 5px;
	}
	
	.iframe-container {
		border: solid 0.5px rgba(155, 155, 155, 1.0);
  	position: absolute;
  	top: 10vh;
		left: 10vw;
		width: 80vw;
		height: 80vh;
		border-radius: 6px;
		box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
		overflow: hidden;
	  
	  .iframe-navigation-bar {
	  	position: absolute;
	  	top: 0;
	  	right: 0;
	  	left: 0;
	  	height: 36px;
	  	background: rgb(195,195,195);
  		background: linear-gradient(0deg, rgba(222,222,222,1) 0%, rgba(232,232,232,1) 50%, rgba(242,242,242,1) 100%);
  		opacity: 0.5;
  		
  		&::before {
  			content: '';
				display: block;
				position: absolute;
				top: 6px;
				bottom: 6px;
				left: 50%;
				width: 50%;
				margin-left: -25%;
				border: solid 1px #cccccc;
				background-color: #ffffff;
				border-radius: 5px;
  		}
	  }
	  
	  .iframe-body {
	  	position: absolute;
	  	border-top: solid 1px rgb(220, 220, 220);
	  	top: 36px;
	  	right: 0;
	  	bottom: 0;
	  	left: 0;
	  	background-color: #ffffff;
	  	
	  	> iframe {
	  		position: relative;
	  		border: none;
	  		width: 100%;
	  		height: 100%;
	  	}
	  }
  }
  
  .loading-container {
  	position: absolute;
  	top: 20vh;
		left: 20vw;
		width: 60vw;
		height: 60vh;
		overflow: hidden;
  	
	  @keyframes placeHolderShimmer{
			0%{
				background-position: -468px 0
			}
			100%{
				background-position: 468px 0
			}
		}
		
		.linear-background {
			height: 200px;
			position: relative;
			
			.inter-left {
			  position: absolute;
			  width: 10vw;
			  height: 10vw;
			  top: 0;
			  left: 0;
			  overflow: hidden;
			}
			.inter-right--top {
			  position: absolute;
			  width: 50vw;
			  height: 1vw;
			  top: 0;
			  left: 11vw;
			  overflow: hidden;
			}
			.inter-right--bottom {
			  position: absolute;
			  width: 50vw;
			  height: 2vw;
			  top: 2vw;
			  left: 11vw;
			  overflow: hidden;
			}
			
			.inter-left,
			.inter-right--top,
			.inter-right--bottom {
				&::before {
					content: '';
					display: block;
					position: static;
					top: 20vh;
					left: 20vw;
					width: 60vw;
					height: 60vh;
					animation-duration: 1s;
					animation-fill-mode: forwards;
					animation-iteration-count: infinite;
					animation-name: placeHolderShimmer;
					animation-timing-function: linear;
					background: transparent;
					background: linear-gradient(to right, rgba(200, 200, 200, 0.1) 8%, rgba(200, 200, 200, 0.2) 18%, rgba(200, 200, 200, 0.1) 33%);
					background-size: 1000px 104px;
				}
			}
		}
	}
}
body.internal-fsb-preview-on {
	> .workspace-container {
		opacity: 0.1;
		pointer-events: none;
	}
	
	.site-preview {
		display: block;
	}
}