// Timeline Manager
// -------------------------
.timeline-manager-container {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(240, 240, 240);
	
	&::after {
		content: '';
		display: block;
		position: absolute;
		z-index: 10;
		width: 250px;
    left: 0;
    top: 0;
    bottom: 0;
		background-color: rgba(255, 255, 255, 0.6);
		border-right: solid 1px #ccc;
	}
  
	.tree-container {
		position: absolute;
		z-index: 20;
    left: 0;
    right: 0;
    top: 11px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
		border: none;
		padding: 0 0 26px 0;
		height: auto;
	}
		
	.treenode-container {
		cursor: pointer;
		position: relative;
		
		.treenode-body {
			padding: 0 3px;
			position: relative;
		
			.form-check {
				padding: 0;
				
				input[type="checkbox"] {
					display: none;
				}
			}
			
			.treenode-title {
				padding-left: 5px;
				font-size: 12.5px;
			
				&::before {
					content: '\221F';
					display: inline-block;
					position: relative;
					margin-right: 1px;
					color: rgba(0, 0, 0, 0.15);
					top: -4px;
				}
			}
			
			width: 250px; margin-left: 0%;
			&.offset-1 { width: 250px - 0.04*250; margin-left: 250px * 0.04; }
			&.offset-2 { width: 250px - 0.08*250; margin-left: 250px * 0.08; }
			&.offset-3 { width: 250px - 0.12*250; margin-left: 250px * 0.12; }
			&.offset-4 { width: 250px - 0.16*250; margin-left: 250px * 0.16; }
			&.offset-5 { width: 250px - 0.20*250; margin-left: 250px * 0.20; }
			&.offset-6 { width: 250px - 0.24*250; margin-left: 250px * 0.24; }
			&.offset-7 { width: 250px - 0.28*250; margin-left: 250px * 0.28; }
			&.offset-8 { width: 250px - 0.32*250; margin-left: 250px * 0.32; }
			&.offset-9 { width: 250px - 0.36*250; margin-left: 250px * 0.36; }
			&.offset-10 { width: 250px - 0.40*250; margin-left: 250px * 0.40; }
			&.offset-11 { width: 250px - 0.44*250; margin-left: 250px * 0.44; }
			&.offset-12 { width: 250px - 0.48*250; margin-left: 250px * 0.48; }
			&.offset-13 { width: 250px - 0.52*250; margin-left: 250px * 0.52; }
			&.offset-14 { width: 250px - 0.56*250; margin-left: 250px * 0.56; }
			&.offset-15 { width: 250px - 0.60*250; margin-left: 250px * 0.60; }
			&.offset-16 { width: 250px - 0.64*250; margin-left: 250px * 0.64; }
			&.offset-17 { width: 250px - 0.68*250; margin-left: 250px * 0.68; }
			&.offset-18 { width: 250px - 0.72*250; margin-left: 250px * 0.72; }
			&.offset-19 { width: 250px - 0.76*250; margin-left: 250px * 0.76; }
			&.offset-20 { width: 250px - 0.80250; margin-left: 250px * 0.80; }
		}
		
		&.row {
			display: block;
			margin: 0;
		}
		
		&.selected {
			.treenode-body {
				font-weight: bold;
				color: rgba(255, 0, 0, 0.75);
				
				.treenode-title {
					&::before {
						content: '\25CF';
						color: rgba(255, 0, 0, 0.75);
						top: 0px;
					}
				}
			}
		}
		
		&.dragging {
			pointer-events: none;
			
			.treenode-body {
				background-color: transparent;
				color: transparent;
				border: dashed 1px #999999;
			}
		}
		
		&.insert-top {
			.treenode-body::before {
				content: '';
				display: block;
				position: absolute;
				top: -3.5px;
				left: -4px;
				right: 0;
				z-index: 100;
				height: 5px;
				background-color: rgba(0, 200, 255, 1.0);
				flex: 0 0 100%;
			}
		}
		
		&.insert-bottom {
			.treenode-body::after {
				content: '';
				display: block;
				position: absolute;
				bottom: -3.5px;
				left: -4px;
				right: 0;
				z-index: 100;
				height: 5px;
				background-color: rgba(0, 200, 255, 1.0);
				flex: 0 0 100%;
			}
		}
	}
	
	> .tree-container:first-child {
		> .container-fluid {
			padding: 0;
			margin: 0;
			> div {
				> .treenode-outer-container {
					border-bottom: solid 1px #ddd;
    			padding: 3px 0 5px 0;
					
					> .treenode-container {
						> .treenode-body {
							.treenode-title {
								font-weight: bold;
								color: rgba(0, 0, 0, 0.15);
									
								&::before {
									content: "\f0e7";
									font-weight: 900;
									font-family: "Font Awesome 5 Free";
									top: 0px;
									margin-right: 5px;
								}
							}
						}
					}
					
					&:last-child {
						border-bottom: none;
					}
    
					&.contained {
						background: rgb(0,144,255);
						background: -moz-linear-gradient(0deg, rgba(0,144,255,0.2) 0%, rgba(0,144,255,0) 100%);
						background: -webkit-linear-gradient(0deg, rgba(0,144,255,0.2) 0%, rgba(0,144,255,0) 100%);
						background: linear-gradient(0deg, rgba(0,144,255,0.2) 0%, rgba(0,144,255,0) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0090ff",endColorstr="#0090ff",GradientType=1);
						border-bottom-color: rgb(0, 144, 255);
						
						> .treenode-container {
							> .treenode-body {
								.treenode-title {
									color: rgba(0, 144, 255, 0.75);
								
									&::before {
										color: rgba(0, 144, 255, 0.75);
									}
								}
							}
						}
					}
				}
			}
		}
	}
	
	&.dragger {
		position: absolute;
		left: 0;
		top: 0;
		z-index: #{$maximum-z-index - 100};
		opacity: 0.5;
	}
	
	.add {
		height: 26px;
		width: 250px;
		padding: 0;
		position: absolute;
		z-index: 30;
		left: 0;
		bottom: 0;
		border: 1px solid #ced4da;
	}
	
	.slider-outer-container {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 11px;
		border-bottom: solid 1px #ddd;
		background-color: #eee;
		
		.slider-inner-container {
			position: absolute;
			left: 251px;
			top: 1px;
			bottom: 1px;
			right: 1px;
			height: 8px;
			
			.slider {
				position: absolute;
				background-color: #007bff;
				border-radius: 8px;
				top: 0px;
				left: 0%;
				width: 30%;
				height: 8px;
				cursor: move;
			}
		}
	}
	
	.timeline-outer-container {
		.timeline-inner-container {
			.timeline {
				position: relative;
				margin-left: 251px;
				
				.time {
					position: absolute;
					z-index: 0;
			    font-size: 10px;
			    color: rgba(0, 0, 0, 0.2);
			    top: 11px;
			    width: 0;
			    
			    .text {
			    	position: absolute;
			    	left: -15px;
			    	width: 30px;
			    	top: 0;
			    	text-align: center;
			    }
				}
				
				.bar {
					position: absolute;
					z-index: 0;
					top: 25px;
					height: 239px;
					border-left: solid 1px rgba(0, 0, 0, 0.043);
				}
			}
		}
	}
}