// Timeline Manager
// -------------------------
.timeline-manager-container {
  display: block;
  width: 100%;
  height: 100%;
		
	&::before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 11px;
		border-bottom: solid 1px #ddd;
		background-color: #eee;
	}
  
	.tree-container {
		position: absolute;
    left: 0;
    right: 0;
    top: 13px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
		border: none;
		padding: 0 0 28px 0;
		height: auto;
	}
		
	.treenode-container {
		cursor: pointer;
		
		.treenode-body {
			padding: 0 3px;
			background-color: #fbfbfb;
			border: solid 1px #cccccc;
			position: relative;
		
			.form-check {
				padding: 0;
				
				input[type="checkbox"] {
					display: none;
				}
			}
			
			.treenode-title {
				padding-left: 5px;
				font-size: 12.5px;
			}
			
			width: 250px; margin-left: 0%;
			&.offset-1 { width: 250px - 0.03*250; margin-left: 250px * 0.03; }
			&.offset-2 { width: 250px - 0.06*250; margin-left: 250px * 0.06; }
			&.offset-3 { width: 250px - 0.09*250; margin-left: 250px * 0.09; }
			&.offset-4 { width: 250px - 0.12*250; margin-left: 250px * 0.12; }
			&.offset-5 { width: 250px - 0.15*250; margin-left: 250px * 0.15; }
			&.offset-6 { width: 250px - 0.18*250; margin-left: 250px * 0.18; }
			&.offset-7 { width: 250px - 0.21*250; margin-left: 250px * 0.21; }
			&.offset-8 { width: 250px - 0.24*250; margin-left: 250px * 0.24; }
			&.offset-9 { width: 250px - 0.27*250; margin-left: 250px * 0.27; }
			&.offset-10 { width: 250px - 0.30*250; margin-left: 250px * 0.30; }
			&.offset-11 { width: 250px - 0.33*250; margin-left: 250px * 0.33; }
			&.offset-12 { width: 250px - 0.36*250; margin-left: 250px * 0.36; }
			&.offset-13 { width: 250px - 0.39*250; margin-left: 250px * 0.39; }
			&.offset-14 { width: 250px - 0.42*250; margin-left: 250px * 0.42; }
			&.offset-15 { width: 250px - 0.45*250; margin-left: 250px * 0.45; }
			&.offset-16 { width: 250px - 0.48*250; margin-left: 250px * 0.48; }
			&.offset-17 { width: 250px - 0.51*250; margin-left: 250px * 0.51; }
			&.offset-18 { width: 250px - 0.54*250; margin-left: 250px * 0.54; }
			&.offset-19 { width: 250px - 0.57*250; margin-left: 250px * 0.57; }
			&.offset-20 { width: 250px - 0.60*250; margin-left: 250px * 0.60; }
		}
		
		&.row {
			display: block;
		}
		
		&.selected {
			cursor: move;
			
			.treenode-body {
				background-color: rgba(0, 144, 255, 0.75);
				border-color: rgba(0, 144, 255, 1.0);
				color: #ffffff;
			}
		}
		
		&.dragging {
			pointer-events: none;
			
			.treenode-body {
				background-color: transparent;
				color: transparent;
				border: dashed 1px #999999;
			}
		}
		
		&.insert-top {
			.treenode-body::before {
				content: '';
				display: block;
				position: absolute;
				top: -3.5px;
				left: -4px;
				right: 0;
				z-index: 100;
				height: 5px;
				background-color: rgba(0, 200, 255, 1.0);
				flex: 0 0 100%;
			}
		}
		
		&.insert-bottom {
			.treenode-body::after {
				content: '';
				display: block;
				position: absolute;
				bottom: -3.5px;
				left: -4px;
				right: 0;
				z-index: 100;
				height: 5px;
				background-color: rgba(0, 200, 255, 1.0);
				flex: 0 0 100%;
			}
		}
	}
	
	&.dragger {
		position: absolute;
		left: 0;
		top: 0;
		z-index: #{$maximum-z-index - 100};
		opacity: 0.5;
	}
	
	.add {
		height: 26px;
		width: 250px;
		padding: 0;
		position: absolute;
		left: 0;
		bottom: 0;
		border: 1px solid #ced4da;
	}
}