@import "../common/variables";

@import "features/workspace";
@import "features/area";
@import "features/explorer";
@import "features/sidebar";
@import "features/timeline";
@import "features/toolbar";
@import "features/console";
@import "features/footer";

@import "components";
@import "controls";

@import "icons";

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
body {
	cursor: default;
	padding-bottom: 33px;
}
html, body {
  overflow: hidden;
}
div, span, label {
	cursor: inherit;
}

// Placeholders
// -------------------------

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cccccc !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #cccccc !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #cccccc !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #cccccc !important;
}
::placeholder {
	color: #cccccc !important;
}