//- Google Analytics: change UA-38177297-2 to be your site's ID
script.
  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
  ga('create','UA-38177297-2','auto');ga('send','pageview')
script(src='https://www.google-analytics.com/analytics.js' async defer)