.explorer
  div.active(id='site')
    include explore/site
  div(id='data')
    include explore/data
  div(id='services')
    include explore/services
  div(id='components')
    include explore/components
  div(id='popups')
    include explore/popups