nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top.p-0
  .container-fluid.px-2
    a.navbar-brand(href='/')
      | StackBlend
    button.navbar-toggler.btn-sm.m-2(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.navbar-toggler-icon

    .collapse.navbar-collapse
      .dropdown-divider
      ul.nav.navbar-nav.mx-auto
        | 
      ul.nav.navbar-nav
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.btn.btn-sm.btn-light.m-2(type='button', href='/login')
              | Login
        else
          li.nav-item.dropdown(class=(title === 'Account Management') ? 'active' : undefined)
            a.nav-link.profile.p-0.m-1(href='#', data-toggle='dropdown')
              if user.profile.picture
                img.profile(src=user.profile.picture, alt=(user.profile.name || user.email || user.id))
              else
                img.profile(src=user.gravatar(60), alt=(user.profile.name || user.email || user.id))
            ul.dropdown-menu.dropdown-menu-right
              li.nav-item
                a.nav-link(href='/editor') Editor
              li.dropdown-divider
              li.nav-item
                a.nav-link(href='/account/settings') Settings
              li.nav-item
                a.nav-link(href='/logout') Logout