{
  "presets": ["@babel/preset-env", "@babel/preset-typescript"],
  "plugins": [
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-transform-runtime",
    "react-auto-binding",
    "transform-react-pug",
    "transform-class-properties",
  ],
  "ignore": [
    "src/public/js/libraries/**/*"
  ]
}
