.section-container(internal-fsb-for="internal-fsb-class:Button")
  .section-title
    | Button Options
  .section-subtitle
    | Useable
  .section-body
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['disabled']}")
  .section-subtitle
    | Tab Index
  .section-body
    +CreateReactComponent('FullStackBlend.Components.NumberPicker', "{watchingAttributeNames: ['tabIndex'], inline: true, button: false}")
  .section-hr