.section-container(internal-fsb-for="internal-fsb-class:Checkbox")
  .section-title
    | Checkbox Options
  .section-subtitle
    | Default Checked
  .section-body(internal-fsb-not-for="workspaceMode:business")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['checked']}")
  .section-subtitle
    | Useable
  .section-body(internal-fsb-not-for="workspaceMode:business")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['disabled']}")
  .section-subtitle
    | Editable
  .section-body(internal-fsb-not-for="workspaceMode:business")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['readonly']}")
  .section-subtitle
    | Alternate Text
  .section-body(internal-fsb-not-for="workspaceMode:business")
    +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['alt'], inline: true, button: false, placeholder: 'ALT'}")
  .section-subtitle
    | Tab Index
  .section-body(internal-fsb-not-for="workspaceMode:designer, workspaceMode:business")
    +CreateReactComponent('FullStackBlend.Components.NumberPicker', "{watchingAttributeNames: ['tabIndex'], inline: true, button: false}")
  .section-hr