.section-container(internal-fsb-for="internal-fsb-class:Hidden")
  .section-title
    | Hidden Options
  .section-subtitle
    | Default Value
  .section-body(internal-fsb-not-for="workspaceMode:designer, workspaceMode:business")
    +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['value'], inline: true, button: false}")
  .section-hr