.section-container(internal-fsb-for="internal-fsb-class:Iframe")
  .section-title
    | Iframe Options
  .section-subtitle
    | Source
  .section-body(internal-fsb-not-for="workspaceMode:designer, workspaceMode:business")
    +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['src'], inline: true, button: false, placeholder: 'URL'}")
  .section-hr