.section-container(internal-fsb-for="internal-fsb-class:Iframe")
  .section-title
    | Iframe Options
  .section-subtitle
    | Source
  .section-body
    +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['src'], inline: true, button: false}")
  .section-hr