.section-container(internal-fsb-for="internal-fsb-class:Link")
  .section-title
    | Link Options
  .section-subtitle
    | Destination
  .section-body
    +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['href'], inline: true, button: false, placeholder: 'URL'}")
  .section-subtitle
    | Target
  .section-body
    +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['target'], inline: true, button: false, placeholder: '_self'}")
  .section-hr