.section-container(internal-fsb-for="internal-fsb-class:Select")
  .section-title
    | Select Options
  .section-subtitle
    | Multiple Selection
  .section-body(internal-fsb-not-for="workspaceMode:business")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['multiple']}")
  .section-subtitle
    | Size of Visible Options
  .section-body(internal-fsb-not-for="workspaceMode:business")
    +CreateReactComponent('FullStackBlend.Components.NumberPicker', "{watchingAttributeNames: ['size'], inline: true, button: false}")
  .section-subtitle
    | List of Items
  .section-body(internal-fsb-not-for="workspaceMode:business")
    +CreateReactComponent('FullStackBlend.Components.OptionManager', "{}")
  .section-subtitle
    | Useable
  .section-body(internal-fsb-not-for="workspaceMode:business")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['disabled']}")
  .section-subtitle
    | Editable
  .section-body(internal-fsb-not-for="workspaceMode:business")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['readonly']}")
  .section-subtitle
    | Alternate Text
  .section-body(internal-fsb-not-for="workspaceMode:business")
    +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['alt'], inline: true, button: false, placeholder: 'ALT'}")
  .section-subtitle
    | Tab Index
  .section-body(internal-fsb-not-for="workspaceMode:designer, workspaceMode:business")
    +CreateReactComponent('FullStackBlend.Components.NumberPicker', "{watchingAttributeNames: ['tabIndex'], inline: true, button: false}")
  .section-hr