.section-container(internal-fsb-for="internal-fsb-class:SVG")
  .section-title
    | Scalable Vector Graphics Options
  .section-subtitle
    | Tools
  .section-body
    +CreateReactComponent('FullStackBlend.Components.SVGEditor', "{watchingAttributeNames: ['internal-fsb-inner-html']}")
  .section-hr