.section-container(internal-fsb-for="internal-fsb-class:Graphic")
  .section-title
    | Scalable Vector Graphic Options
  .section-subtitle
    | Tools
  .section-body(internal-fsb-not-for="workspaceMode:business")
    +CreateReactComponent('FullStackBlend.Components.SVGEditor', "{watchingAttributeNames: ['internal-fsb-inner-html']}")
  .section-hr