include ../../mixin/CreateReactComponent
.section-container
  .section-title
    | Text
  .section-body
    //-
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['color']}")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['font-family']}")
    //
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingStyleNames: ['font-style', 'font-weight', 'text-decoration-line']}")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingStyleNames: ['text-align']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['font-size']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['font-weight']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['font-stretch']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['text-transform']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['vertical-align']}")
  .section-subtitle
    | Spacing
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['text-indent']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['text-justify']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['letter-spacing']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['word-spacing']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['tab-size']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['line-height']}")
  .section-subtitle
    | Multiline
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['white-space']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['word-break']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['word-wrap']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['hyphens']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['text-overflow']}")
  .section-subtitle
    | Decoration
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['text-decoration-color']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['text-decoration-line']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['text-decoration-style']}")
  .section-subtitle
    | Others
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['writing-mode']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['quotes[0,2]', 'quotes']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['quotes[1,2]', 'quotes']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['direction']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['unicode-bidi']}")
.section-hr
.section-container
  .section-title
    | List
  .section-subtitle
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['list-style-image']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['list-style-position']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['list-style-type']}")
.section-hr
.section-container
  .section-title
    | Table
  .section-subtitle
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['border-collapse']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['border-spacing']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['caption-side']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['empty-cell']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['table-layout']}")
.section-hr
.section-container
  .section-title
    | Others
  .section-subtitle
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['clear']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['float']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['display']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['visibility']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['pointer-events']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['cursor']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['z-index']}")