include ../../mixin/CreateReactComponent
.section-container
  .section-title
    | Text
  .section-subtitle
    | color, direction, font, @font-face, font-family, font-feature-settings, @font-feature-values, font-kerning, font-language-override, font-size, font-size-adjust, font-stretch, font-style, font-synthesis, font-variant, font-variant-alternates, font-variant-caps, font-variant-east-asian, font-variant-ligatures, font-variant-numeric, font-variant-position, font-weight, hanging-punctuation, hyphens, justify-content, letter-spacing, line-break, line-height, orphans, outline, outline-color, outline-offset, outline-style, outline-width, overflow-wrap, quotes, tab-size, text-align, text-align-last, text-combine-upright, text-decoration, text-decoration-color, text-decoration-line, text-decoration-style, text-indent, text-justify, text-orientation, text-overflow, text-transform, text-underline-position, unicode-bidi, vertical-align, white-space, widows, word-break, word-spacing, word-wrap, writing-mode
.section-hr
.section-container
  .section-title
    | List
  .section-subtitle
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['list-style']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['list-style-image']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['list-style-position']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['list-style-type']}")
.section-hr
.section-container
  .section-title
    | Table
  .section-subtitle
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['border-collapse']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['border-spacing']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['caption-side']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['empty-cell']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['table-layout']}")
.section-hr
.section-container
  .section-title
    | Others
  .section-subtitle
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['clear']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['float']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['display']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['visibility']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['pointer-events']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['cursor']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['z-index']}")