include ../../mixin/CreateReactComponent
.section-container
  .section-title
    | Dimension
  .section-subtitle
    | Size & Position
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DimensionPicker')
  .section-subtitle
    | Minimum & Maximum Size
  .section-body
    +CreateReactComponent('FullStackBlend.Components.BoundaryPicker')
  .section-subtitle
    | Containing Behaviour
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['object-fit'], dropDownMinWidth: 100}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['object-position[0,2]', 'object-position'], dropDownMinWidth: 150}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['object-position[1,2]', 'object-position'], dropDownMinWidth: 150}")
  .section-subtitle
    | Container Behaviour
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['overflow-x']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['overflow-y']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['position'], dropDownMinWidth: 80}")
.section-hr
.section-container
  .section-title
    | Appearance
  .section-subtitle
    | Border Style & Background
  .section-body
    +CreateReactComponent('FullStackBlend.Components.AppearancePicker')
.section-hr
.section-container
  .section-title
    | 3D Transform
  .section-body
    +CreateReactComponent('FullStackBlend.Components.Transformer')
.section-hr
.section-container
  .section-note
    | background, background-attachment, background-blend-mode, background-clip, background-color, background-image, background-origin, background-position, background-repeat, background-size, mix-blend-mode