include ../../mixin/CreateReactComponent
.section-container
  .section-title
    | Dimension
  .section-subtitle
    | Size & Position
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DimensionPicker')
  .section-subtitle
    | Minimum & Maximum Size
  .section-body
    +CreateReactComponent('FullStackBlend.Components.BoundaryPicker')
  .section-subtitle
    | Containing Behaviour
  .section-body
    | object-fit, object-position
  .section-subtitle
    | Container Behaviour
  .section-body
    | overflow-x, overflow-y, position
.section-hr
.section-container
  .section-title
    | Appearance
  .section-subtitle
    | Border Style & Background
  .section-body
    +CreateReactComponent('FullStackBlend.Components.AppearancePicker')
.section-hr
.section-container
  .section-title
    | 3D Transform
  .section-body
    +CreateReactComponent('FullStackBlend.Components.Transformer')
.section-hr
.section-container
  .section-note
    | border-image, border-image-outset, border-image-repeat, border-image-slice, border-image-source, border-image-width
    | background, background-attachment, background-blend-mode, background-clip, background-color, background-image, background-origin, background-position, background-repeat, background-size, mix-blend-mode