@import "../common/bootstrap-grid-feature";

// Scaffolding
//
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
}

.internal-fsb-inheriting-element,
.internal-fsb-element {
  padding: 0;
}

// Layout
//
.internal-fsb-strict-layout {
	> .internal-fsb-inheriting-element,
  > .internal-fsb-element {
    position: relative;
  }
}
      
.internal-fsb-absolute-layout {
	> .internal-fsb-inheriting-element,
  > .internal-fsb-element {
    position: absolute;
  }
}
.internal-fsb-table-layout {
  > tbody {
  	> tr {
  		> td {
  			position: relative;
  		}
  	}
  }
}
.internal-fsb-table-layout[internal-fsb-table-collapse="true"] {
	border: none;
	
	> tbody {
  	> tr:not(:last-of-type) {
  		> td {
  			border-bottom: none !important;
  		}
  	}
  	> tr {
  		> td:not(:last-of-type) {
  			border-right: none !important;
  		}
  	}
  }
}

// Image
//
.internal-fsb-element > img {
	width: 100%;
}

// Flowlayout
//
.internal-fsb-guide,
.internal-fsb-begin-layout,
[internal-fsb-class="FlowLayout"] {
	display: flex;
  flex-wrap: wrap;
  max-width: 100%;
	align-content: flex-start;
	padding: 0;
}