@import "../common/bootstrap-grid-feature";

// Scaffolding
//
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
}

.internal-fsb-inheriting-element,
.internal-fsb-element {
  padding: 0;
  flex-wrap: wrap;
  
	> .container,
  > .container-fluid {
  	height: 100%;
  	min-height: inherit;
  	
  	flex-direction: inherit;
    flex-wrap: inherit;
    justify-content: inherit;
    align-items: inherit;
    align-content: inherit;
  	
  	> .row.internal-fsb-strict-layout {
  		flex-direction: inherit;
	    flex-wrap: inherit;
	    justify-content: inherit;
	    align-items: inherit;
	    align-content: inherit;
  	}
	}
	
	&.internal-fsb-wrap > .container > .row,
	&.internal-fsb-wrap > .container-fluid > .row {
		height: 100%;
	}
	
	&.internal-fsb-inverse {
		> .container,
  	> .container-fluid {
  		> .row.internal-fsb-strict-layout {
  			height: 100%;
  			min-height: inherit;
  		}
  	}
	}
}

// Layout
//
.internal-fsb-strict-layout {
	> .internal-fsb-inheriting-element,
  > .internal-fsb-element {
    position: relative;
  }
}
      
.internal-fsb-absolute-layout {
	> .internal-fsb-inheriting-element,
  > .internal-fsb-element {
    position: absolute;
  }
}
.internal-fsb-table-layout {
  > tbody {
  	> tr {
  		> td {
  			position: relative;
  		}
  	}
  }
}
.internal-fsb-table-layout[internal-fsb-table-collapse="true"] {
	border: none;
	
	> tbody {
  	> tr:not(:last-of-type) {
  		> td {
  			border-bottom: none !important;
  		}
  	}
  	> tr {
  		> td:not(:last-of-type) {
  			border-right: none !important;
  		}
  	}
  }
}