doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - Hackathon Starter
    meta(name='description', content='')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/css/main.css')

  body.noselect.internal-fsb-selecting-off
    include partials/header
    if user
      link(rel='stylesheet', href='/css/editor.css')
      script(src='/js/lib/jquery-3.1.1.min.js')
      script(src='/js/lib/react.development.js')
      script(src='/js/lib/react-dom.development.js')
      script(src='/js/lib/colpick.js')
      script(src='/js/construction/editor/Editor.bundle.js')
      script(src='https://kit.fontawesome.com/a1b6590f7b.js', crossorigin='anonymous')
      
      .workspace-container
        .workspace-vertical-container
          .workspace-vertical-panel
            include partials/toolbar
        .workspace-vertical-container.full-relative-size
          .workspace-vertical-panel
            .workspace-container
              .workspace-horizontal-container
                .workspace-horizontal-panel
                  include partials/explorer
                .workspace-horizontal-panel.full-relative-size
                  .workspace-container
                    .workspace-vertical-container.full-relative-size
                      .workspace-vertical-panel.full-relative-size
                        include partials/construction
                    .workspace-vertical-container(id='timeline')
                      .workspace-vertical-panel
                        include partials/timeline
                .workspace-horizontal-panel
                  include partials/sidebar
    else
      include partials/flash
      block content

    script(src='/js/lib/popper.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(async defer src="https://buttons.github.io/buttons.js")
    script(src='/js/Main.js')
    script.
      if (window.setup) window.setup();

    //- Google Analytics: change UA-38177297-2 to be your site's ID
    script.
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-38177297-2','auto');ga('send','pageview')
    script(src='https://www.google-analytics.com/analytics.js' async defer)
