include ../../mixin/CreateReactComponent
.section-container
  .section-title
    | Editor Settings
  .section-subtitle
    | Workspace Mode
  .section-body
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingExtensionNames: ['workspaceMode']}")
  .section-note
    | Choose a workspace mode which you will working with. These will disable options, if necessary, to prevent colleagues from modifying or ruining the masterpiece. 
  .section-title
    | Site Settings
  .section-subtitle
    | Application Icon
  .section-body
    +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingExtensionNames: ['icon'], inline: true, button: false, placeholder: 'URL'}")
  .section-note
    br
  .section-title
    | Front-End External Libraries
  .section-subtitle
    | Presets
  .section-body
    +CreateReactComponent('FullStackBlend.Components.ExternalLibrariesChooser', "{}")
  .section-subtitle
    | Custom URLs
  .section-body
    +CreateReactComponent('FullStackBlend.Components.ExternalLibrariesManager', "{}")