.workspace-panel-container.explorer
  .panel.active(id='site')
    include site/site
  .panel(id='data')
    include data/data
  .panel(id='services')
    include services/services
  .panel(id='components')
    include components/components
  .panel(id='popups')
    include popups/popups