include ../../mixin/CreateReactComponent
.internal-fsb-selecting-on
  .section-container
    .section-title
      | Modification
    .section-subtitle(internal-fsb-for="internal-fsb-class:RelationalTable,internal-fsb-class:RelationalColumn")
      | Lock Mode
    .section-body(internal-fsb-for="internal-fsb-class:RelationalTable,internal-fsb-class:RelationalColumn")
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-lock-mode']}")
    .section-subtitle(internal-fsb-for="internal-fsb-class:DocumentTable,internal-fsb-class:DocumentNotation,internal-fsb-class:VolatileMemory,internal-fsb-class:VolatilePrefix,internal-fsb-class:RESTful,internal-fsb-class:Verb")
      | Lock Mode
    .section-body(internal-fsb-for="internal-fsb-class:DocumentTable,internal-fsb-class:DocumentNotation,internal-fsb-class:VolatileMemory,internal-fsb-class:VolatilePrefix,internal-fsb-class:RESTful,internal-fsb-class:Verb")
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-lock-mode-1']}")
    .section-subtitle(internal-fsb-for="data-lock-mode:relation")
      | Source Group
    .section-body(internal-fsb-for="data-lock-mode:relation")
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-lock-source-group'], inline: true, button: false, placeholder: 'collection'}")
    .section-subtitle(internal-fsb-for="data-lock-mode:relation")
      | Source Entity
    .section-body(internal-fsb-for="data-lock-mode:relation")
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-lock-source-entity'], inline: true, button: false, placeholder: 'collection'}")
    .section-subtitle(internal-fsb-for="data-lock-mode:relation")
      | Matching Mode
    .section-body(internal-fsb-for="data-lock-mode:relation")
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-lock-matching-mode']}")
    div(internal-fsb-for="data-lock-mode:relation")
      .section-subtitle(internal-fsb-not-for="data-lock-matching-mode")
        | Matching Constant Value
      .section-body(internal-fsb-not-for="data-lock-matching-mode")
        +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-lock-relation-matching-constant-value'], inline: true, button: false}")
      .section-subtitle(internal-fsb-for="data-lock-matching-mode:session")
        | Session Name
      .section-body(internal-fsb-for="data-lock-matching-mode:session")
        +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-lock-relation-matching-session-name'], inline: true, button: false, placeholder: 'key'}")
    .section-subtitle(internal-fsb-for="data-lock-mode:session")
      | Session Name
    .section-body(internal-fsb-for="data-lock-mode:session")
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-lock-session-matching-session-name'], inline: true, button: false, placeholder: 'key'}")
    .section-subtitle(internal-fsb-for="data-lock-mode:session")
      | Matching Value
    .section-body(internal-fsb-for="data-lock-mode:session")
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-lock-session-matching-constant-value'], inline: true, button: false}")
    .section-note
      | These options will prevent sensitive data from being modified from other users which may harm the business logic.
    .section-hr
  .section-container
    .section-title
      | Retrieval 
    .section-subtitle(internal-fsb-for="internal-fsb-class:RelationalTable,internal-fsb-class:RelationalColumn")
      | Restriction
    .section-body(internal-fsb-for="internal-fsb-class:RelationalTable,internal-fsb-class:RelationalColumn")
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-rendering-condition-mode']}")
    .section-subtitle(internal-fsb-for="internal-fsb-class:DocumentTable,internal-fsb-class:DocumentNotation,internal-fsb-class:VolatileMemory,internal-fsb-class:VolatilePrefix,internal-fsb-class:RESTful,internal-fsb-class:Verb")
      | Restriction
    .section-body(internal-fsb-for="internal-fsb-class:DocumentTable,internal-fsb-class:DocumentNotation,internal-fsb-class:VolatileMemory,internal-fsb-class:VolatilePrefix,internal-fsb-class:RESTful,internal-fsb-class:Verb")
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-rendering-condition-mode-1']}")
    .section-subtitle(internal-fsb-for="data-rendering-condition-mode:relation")
      | Source Group
    .section-body(internal-fsb-for="data-rendering-condition-mode:relation")
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-rendering-condition-source-group'], inline: true, button: false, placeholder: 'collection'}")
    .section-subtitle(internal-fsb-for="data-rendering-condition-mode:relation")
      | Source Entity
    .section-body(internal-fsb-for="data-rendering-condition-mode:relation")
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-rendering-condition-source-entity'], inline: true, button: false, placeholder: 'column'}")
    .section-subtitle(internal-fsb-for="data-rendering-condition-mode:relation")
      | Matching Mode
    .section-body(internal-fsb-for="data-rendering-condition-mode:relation")
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-rendering-condition-matching-mode']}")
    div(internal-fsb-for="data-rendering-condition-mode:relation")
      .section-subtitle(internal-fsb-not-for="data-rendering-condition-matching-mode")
        | Matching Constant Value
      .section-body(internal-fsb-not-for="data-rendering-condition-matching-mode")
        +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-rendering-condition-relation-matching-constant-value'], inline: true, button: false}")
      .section-subtitle(internal-fsb-for="data-rendering-condition-matching-mode:session")
        | Session Name
      .section-body(internal-fsb-for="data-rendering-condition-matching-mode:session")
        +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-rendering-condition-relation-matching-session-name'], inline: true, button: false, placeholder: 'key'}")
    .section-subtitle(internal-fsb-for="data-rendering-condition-mode:session")
      | Session Name
    .section-body(internal-fsb-for="data-rendering-condition-mode:session")
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-rendering-condition-session-matching-session-name'], inline: true, button: false}")
    .section-subtitle(internal-fsb-for="data-rendering-condition-mode:session")
      | Matching Value
    .section-body(internal-fsb-for="data-rendering-condition-mode:session")
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-rendering-condition-session-matching-constant-value'], inline: true, button: false}")
    .section-note
      | These options will prevent sensitive data from being leaked into client-side which may harm the business logic.
    .section-hr
  .section-container
    .section-title
      | Audit Log
    div(internal-fsb-for="internal-fsb-class:RelationalTable,internal-fsb-class:DocumentTable,internal-fsb-class:Queue,internal-fsb-class:RESTful")
      .section-subtitle
        | Chain of Trust I
      .section-body
        +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-audit-independent-1'], inline: true, button: false, placeholder: 'Document Database I'}")
      .section-subtitle
        | Chain of Trust II
      .section-body
        +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-audit-independent-2'], inline: true, button: false, placeholder: 'Document Database II'}")
      .section-subtitle
        | Chain of Trust III
      .section-body
        +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-audit-independent-3'], inline: true, button: false, placeholder: 'Document Database III'}")
    div(internal-fsb-for="internal-fsb-class:RelationalColumn,internal-fsb-class:DocumentNotation,internal-fsb-class:Verb,internal-fsb-class:Parameter")
      .section-subtitle
        | Collecting Option
      .section-body
        +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-audit-collecting-option']}")
    .section-note
      | These will provide audit log for official examination of business records to see that they are true and correct, using three of only-create-able document databases to confirm a chain of trust, held by the independent respresentative of each database's party.