include ../../mixin/CreateReactComponent
.internal-fsb-selecting-on
  .section-container
    .section-title
      | Layer
    .section-subtitle
      | Name
    .section-body
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['internal-fsb-name'], inline: true, button: false}")
    .section-subtitle
      | Note
    .section-body
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['internal-fsb-note'], inline: true, button: false, multiline: true}")
    .section-hr
  .section-container(internal-fsb-for="internal-fsb-class:RelationalDatabase,internal-fsb-class:DocumentDatabase,internal-fsb-class:WorkerInstance,internal-fsb-class:VolatileMemory,internal-fsb-class:RESTful")
    .section-title(internal-fsb-for="internal-fsb-class:RelationalDatabase")
      | Relational Database Options
    .section-title(internal-fsb-for="internal-fsb-class:DocumentDatabase")
      | Document Database Options
    .section-title(internal-fsb-for="internal-fsb-class:WorkerInstance")
      | Worker Instance Options
    .section-title(internal-fsb-for="internal-fsb-class:VolatileMemory")
      | Volatile Instance Options
    .section-title(internal-fsb-for="internal-fsb-class:RESTful")
      | RESTful Collection Options
    .section-subtitle
      | Name
    .section-body
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-title-name'], inline: true, button: false}")
  .section-container(internal-fsb-for="internal-fsb-class:RelationalTable,internal-fsb-class:DocumentTable")
    .section-title(internal-fsb-for="internal-fsb-class:RelationalTable")
      | Relational Table Options
    .section-title(internal-fsb-for="internal-fsb-class:DocumentTable")
      | Document Table Options
    .section-subtitle
      | Name
    .section-body
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-title-name'], inline: true, button: false, placeholder: 'collection'}")
    .section-subtitle
      | Forwarded Table
    .section-body
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-forwarding-table'], inline: true, button: false, placeholder: 'collection, collection'}")
    .section-subtitle
      | Forwarding Mode
    .section-body
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-forward-mode']}")
    .section-subtitle(internal-fsb-for="data-forward-mode:prefix")
      | Forwarding Prefix
    .section-body(internal-fsb-for="data-forward-mode:prefix")
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-forwarding-prefix'], inline: true, button: false, placeholder: 'prefix'}")
    .section-note
      | Forward option will duplicate the data of all configured fields from this table to the forwarded one using collection or columns with a prefix.
  .section-container(internal-fsb-for="internal-fsb-class:RelationalColumn,internal-fsb-class:DocumentNotation")
    .section-title(internal-fsb-for="internal-fsb-class:RelationalColumn")
      | Relational Column Options
    .section-title(internal-fsb-for="internal-fsb-class:DocumentNotation")
      | Document Column Options
    .section-subtitle
      | Name
    .section-body
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-title-name'], inline: true, button: false, placeholder: 'column'}")
    .section-subtitle
      | Column
    .section-body
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-column-type']}")
    .section-subtitle
      | Kind
    .section-body(internal-fsb-for="internal-fsb-class:RelationalColumn")
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-field-type-1', 'data-field-type']}")
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-field-type-2', 'data-field-type']}")
    .section-body(internal-fsb-for="internal-fsb-class:DocumentNotation")
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-field-type-3', 'data-field-type']}")
    .section-subtitle(internal-fsb-not-for="data-field-type:auto")
      | Required
    .section-body(internal-fsb-not-for="data-field-type:auto")
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-required']}")
    .section-subtitle(internal-fsb-not-for="data-field-type:auto")
      | Unique
    .section-body(internal-fsb-not-for="data-field-type:auto")
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-unique']}")
    .section-subtitle(internal-fsb-for="internal-fsb-class:DocumentNotation")
      | Forwarding Option
    .section-body(internal-fsb-for="internal-fsb-class:DocumentNotation")
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-forward-option']}")
    div(internal-fsb-not-for="internal-fsb-class:RelationalColumn")
      .section-subtitle(internal-fsb-for="data-forward-option:single, data-forward-option:multiple")
        | Forwarding Recursive Option
      .section-body(internal-fsb-for="data-forward-option:single, data-forward-option:multiple")
        +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-forward-recursive']}")
    .section-note(internal-fsb-not-for="internal-fsb-class:RelationalColumn")
      | Forward option will duplicate and forward the data of this field to the configuring table using collection or columns with a prefix.
  .section-container(internal-fsb-for="internal-fsb-class:WorkerQueue")
    .section-title
      | Worker Queue Options
    .section-subtitle
      | Group
    .section-body
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-title-name'], inline: true, button: false, placeholder: 'collection'}")
  .section-container(internal-fsb-for="internal-fsb-class:VolatilePrefix")
    .section-title
      | Volatile Prefix Options
    .section-subtitle
      | Field
    .section-body
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-title-name'], inline: true, button: false, placeholder: 'collection'}")
    .section-subtitle
      | Column
    .section-body
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-column-type']}")
    .section-subtitle
      | Kind
    .section-body
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-field-type-3', 'data-field-type']}")
  .section-container(internal-fsb-for="internal-fsb-class:Verb")
    .section-title
      | Verb Options
    .section-subtitle
      | Kind
    .section-body
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-verb']}")
    .section-subtitle
      | Method Name
    .section-body
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-title-name'], inline: true, button: false, placeholder: 'collection'}")
    .section-subtitle
      | Request URL
    .section-body
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-url'], inline: true, button: false, placeholder: 'URL'}")
  .section-container(internal-fsb-for="internal-fsb-class:Connection")
    .section-title
      | Relation Options
    .section-subtitle
      | Name
    .section-body
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-title-name'], inline: true, button: false}")
    .section-subtitle
      | Source Group
    .section-body
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-source-group-name'], inline: true, button: false, placeholder: 'collection'}")
    .section-subtitle
      | Source Entity
    .section-body
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-source-entity-name'], inline: true, button: false, placeholder: 'column'}")
    .section-subtitle
      | Target Group
    .section-body
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-target-group-name'], inline: true, button: false, placeholder: 'collection'}")
    .section-subtitle
      | Target Entity
    .section-body
      +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['data-target-entity-name'], inline: true, button: false, placeholder: 'column'}")
    .section-subtitle
      | Force Constraint
    .section-body
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingAttributeNames: ['data-force-constraint']}")
.internal-fsb-selecting-off
  include ../../common/empty