mixin CreateReactComponent(path)
  script.
    var randomID = Math.floor(Math.random() * 0xFFFFFFFF).toString(0xF)
    document.write('<div id="' + randomID + '"></div>');
    ReactDOM.render(
      React.createElement(#{path}, {}, null),
      document.getElementById(randomID)
    );