include ./mixin/CreateReactComponent
.workspace-decoration-top-horizontal-line
div(internal-fsb-for="internal-fsb-react-mode")
  +CreateReactComponent('FullStackBlend.Components.ReactCodeEditor')
div(internal-fsb-not-for="internal-fsb-react-mode")
  include common/empty