.workspace-panel-container.explorer
  .panel.active(id='site')
    include explore/site
  .panel(id='data')
    include explore/data
  .panel(id='services')
    include explore/services
  .panel(id='components')
    include explore/components
  .panel(id='popups')
    include explore/popups