.workspace-container
  .workspace-vertical-container(style="height: 50%;")
    .workspace-vertical-panel
      .workspace-panel-container.sidebar
        .workspace-container
          .workspace-vertical-container.full-relative-size
            .workspace-vertical-panel
              .workspace-container
                .workspace-vertical-container
                  .workspace-vertical-panel
                    .workspace-tab-container
                      .btn-group.btn-group-toggle.d-flex(data-toggle='buttons')
                        a.btn.btn-secondary.btn-sm.btn-light.text-secondary.w-100.sidebar-main-panel.active(id='sidebarAction', onclick="swap('.sidebar-main-panel', [null, '#sidebarAction'], null, null, true)", data-toggle="tooltip", data-placement="bottom", data-html="true")
                          input(type='radio', name='options', checked=true)
                          | Action
                        a.btn.btn-secondary.btn-sm.btn-light.text-secondary.w-100.sidebar-shape-panel(id='sidebarStyle', onclick="swap('.sidebar-style-panel', [null, '#sidebarStyle'], null, null, true)", data-toggle="tooltip", data-placement="bottom", data-html="true")
                          input(type='radio', name='options', checked=false)
                          | Style
                        a.btn.btn-secondary.btn-sm.btn-light.text-secondary.w-100.sidebar-format-panel(id='sidebarLayers', onclick="swap('.sidebar-layers-panel', [null, '#sidebarLayers'], null, null, true)", data-toggle="tooltip", data-placement="bottom", data-html="true")
                          input(type='radio', name='options', checked=false)
                          | Layers
                .workspace-vertical-container.full-relative-size
                  .workspace-vertical-panel
                    .workspace-panel-container.scrollable
                      .panel.sidebar-main-panel.active
                        .workspace-container
                          .workspace-vertical-container
                            .workspace-vertical-panel
                              .workspace-panel-container.white
                                .panel.active(id='design')
                                  include design/styling
                                .panel(id='animation')
                                  include design/animation
                                .panel(id='coding')
                                  include design/coding
                      .panel.sidebar-style-panel
                        include common/style
                      .panel.sidebar-layers-panel
                        include common/layers