// Tree
// -------------------------
.tree-container {
  border: 1px solid #ced4da;
  padding: 0.25rem 0.5rem;
  font-size: 0.775rem;
  line-height: 1.0rem;
  border-radius: 0.2rem;
  height: 250px;
  overflow-y: scroll;
  
  .treenode-container {
  	.treenode-body {
  		padding: 0;
  		
  		label {
  			display: block;
  		}
  		
	  	.treenode-title {
	  		padding-top: 3px;
	  		word-break: break-all;
	  	}
	  }	  
	  		
		&.disabled {
			.treenode-body {
				.treenode-title {
					color: #999999;
				}
			}
		}
  }
}