
script(type="text/javascript" src="/js/libraries/react@16/react.production.min.js")
script(type="text/javascript" src="/js/libraries/react@16/react-dom.production.min.js")
script(type="text/javascript" src="/js/libraries/socket.io@2/socket.io-2.3.0.js")
script(type="text/javascript" src="/js/libraries/bootstrap@4/bootstrap-4.4.1.min.js")

script(type="text/javascript" src="/js/Site.bundle.js")
