@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

@import "variables";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 53px;
}

html, body {
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  p, ul {
    margin-bottom: 0;
  }
}

// Navbar
// -------------------------

.navbar.fixed-top {
  border-bottom: solid 5px transparent;
  
  a.btn {
    height: 32px;
  }
  
  .navbar-nav {  
    .nav-link.profile:focus {
      outline-style: none;
    }
  
    img.profile {
      width: 40px;
      height: 40px;
      border-radius: 25px;
    }
  }
  
  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }
}

.navbar.fixed-top:after {
  content: "";
  background: rgb(109,0,184);
  background: linear-gradient(45deg, rgba(109,0,184,1) 0%, rgba(0,149,255,1) 100%);
  display: block;
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: -5px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

// Accessories
// -------------------------

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}