include ../mixin/CreateReactComponent
.section-container
  .section-title
    | Dimension
  .section-subtitle
    | Size & Position
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DimensionPicker')
  .section-subtitle
    | Minimum & Maximum Size
  .section-body
    +CreateReactComponent('FullStackBlend.Components.BoundaryPicker')
  .section-subtitle
    | Containing Behaviours
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['object-fit']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['object-position[0,2]', 'object-position']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['object-position[1,2]', 'object-position']}")
  .section-subtitle
    | Container Behaviours
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['overflow-x']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['overflow-y']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['position']}")
.section-hr
.section-container
  .section-title
    | Appearance
  .section-subtitle
    | Style & Color
  .section-body
    +CreateReactComponent('FullStackBlend.Components.AppearancePicker')
  .section-subtitle
    | Background Options
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-image']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-position[0,2]', 'background-position']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-position[1,2]', 'background-position']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-size[0,2]', 'background-size']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-size[1,2]', 'background-size']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-origin']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-clip']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-repeat']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-attachment']}")
  .section-subtitle
    | Blending Options
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['opacity']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-blend-mode']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['mix-blend-mode']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['image-rendering']}")
.section-hr
.section-container
  .section-title
    | Transform
  .section-body
    +CreateReactComponent('FullStackBlend.Components.Transformer')