.internal-fsb-selecting-on(internal-fsb-not-for="internal-fsb-inheriting")
	| Timeline
div(internal-fsb-for="internal-fsb-inheriting")
	include ../../common/component-guide
.internal-fsb-selecting-off
	include ../../common/empty