include ../../mixin/CreateReactComponent
include table
.section-container
  .section-title
    | Presets
  .section-subtitle
    | Reusable Name
  .section-body
    +CreateReactComponent('FullStackBlend.Components.CSSPresetName')
  .section-subtitle
    | Priority
  .section-body
    +CreateReactComponent('FullStackBlend.Components.NumberPicker', "{inline: true, button: false, watchingStyleNames: ['internal-fsb-priority']}")
  .section-subtitle
    | Inheritance
  .section-body
    +CreateReactComponent('FullStackBlend.Components.CSSPresets')
  .section-note
    | This will combine both inherited presets and styles into a preset.
  .section-hr
.section-container
  .section-title
    | Responsive Placement
  .section-subtitle
    | Size
  .section-body
    +CreateReactComponent('FullStackBlend.Components.GridPicker')
  .section-subtitle
    | Left Offset
  .section-body
    +CreateReactComponent('FullStackBlend.Components.OffsetPicker')
  .section-subtitle
    | Hidden
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DisplayPicker')
  .section-subtitle
    | Preserve Space
  .section-body
    +CreateReactComponent('FullStackBlend.Components.PreservePicker')
  .section-note
    | Inherit Direction: Left to Right