.section-container(internal-fsb-for="internal-fsb-class:TableLayout")
  .section-title
    | Table Options
  .section-subtitle
    | Design
  .section-body
    +CreateReactComponent('FullStackBlend.Components.BorderStylePicker', "{watchingStyleNames: ['-fsb-cell-border-style', '-fsb-cell-border-color'], inline: true}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['-fsb-cell-border-size']}")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingExtensionNames: ['table-cell-0', '-fsb-cell-style', /^-fsb-cell-([0-9]+)-([0-9]+)-top/, /^-fsb-cell-([0-9]+)-([0-9]+)-right/, /^-fsb-cell-([0-9]+)-([0-9]+)-bottom/, /^-fsb-cell-([0-9]+)-([0-9]+)-left/, /^-fsb-cell-([0-9]+)-([0-9]+)-vertical/, /^-fsb-cell-([0-9]+)-([0-9]+)-horizontal/]}")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingExtensionNames: ['table-cell-1', '-fsb-cell-style', /^-fsb-cell-([0-9]+)-([0-9]+)-top/, /^-fsb-cell-([0-9]+)-([0-9]+)-right/, /^-fsb-cell-([0-9]+)-([0-9]+)-bottom/, /^-fsb-cell-([0-9]+)-([0-9]+)-left/, /^-fsb-cell-([0-9]+)-([0-9]+)-vertical/, /^-fsb-cell-([0-9]+)-([0-9]+)-horizontal/]}")
  .section-subtitle
    | Miscellaneous
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['table-layout']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['border-collapse']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['border-spacing']}")
  .section-hr