doctype html
html(lang='')
  include ../partials/head

  body.noselect.internal-fsb-selecting-off
    include construction
    
    script(async defer src="https://buttons.github.io/buttons.js")
    script(src='/js/main.js')
  
  include ../partials/analytics
