doctype html
html(lang='')
  include ../partials/head

  body.noselect.internal-fsb-selecting-off
    include construction
    
    script(async defer src="https://buttons.github.io/buttons.js")
    script(src='/js/main.js')
    script(src="https://www.googletagmanager.com/gtag/js?id=G-676RRN2LC6")
    script(src="data:application/javascript;base64,d2luZG93LmRhdGFMYXllciA9IHdpbmRvdy5kYXRhTGF5ZXIgfHwgW107CiAgZnVuY3Rpb24gZ3RhZygpe2RhdGFMYXllci5wdXNoKGFyZ3VtZW50cyk7fQogIGd0YWcoJ2pzJywgbmV3IERhdGUoKSk7CgogIGd0YWcoJ2NvbmZpZycsICdHLTY3NlJSTjJMQzYnKTs=")