doctype html
html(lang='')
  include ../partials/head

  body.noselect.internal-fsb-selecting-off
    include ../partials/navigation
    include editor/editor
    
    script(async defer src="https://buttons.github.io/buttons.js")
    script(src='/js/Main.js')
  
  include ../partials/analytics
