.workspace-vertical-container
  .workspace-vertical-panel
    .workspace-tab-container
      .btn-group.btn-group-toggle.d-flex(data-toggle='buttons')
        label.btn.btn-secondary.btn-sm.btn-light.text-secondary.active(onclick="swap('#layer')", data-toggle="tooltip", data-placement="bottom", data-html="true", style="width: 33%;")
          input(type='radio', name='options', checked=true)
          | Layer
  .workspace-vertical-container.full-size
    .workspace-panel-container.has-scrolling
      .panel.active(id='layer')
        | Layer