.workspace-vertical-container
  .workspace-vertical-panel
    .workspace-tab-container
      .btn-group.btn-group-toggle.d-flex(data-toggle='buttons')
        label.btn.btn-secondary.btn-sm.btn-light.text-secondary.w-100.active(onclick="swap('#arrange')", data-toggle="tooltip", data-placement="bottom", data-html="true")
          input(type='radio', name='options', checked=true)
          | Arrange
        label.btn.btn-secondary.btn-sm.btn-light.text-secondary.w-100(onclick="swap('#drawing')", data-toggle="tooltip", data-placement="bottom", data-html="true")
          input(type='radio', name='options', checked=false)
          | Drawing
        label.btn.btn-secondary.btn-sm.btn-light.text-secondary.w-100(onclick="swap('#effects')", data-toggle="tooltip", data-placement="bottom", data-html="true")
          input(type='radio', name='options', checked=false)
          | Effects
  .workspace-vertical-container.full-size
    .workspace-panel-container
      .panel.active(id='arrange')
        include styling/arrange
      .panel(id='drawing')
        include styling/drawing
      .panel(id='effects')
        include styling/effects