include ../../mixin/CreateReactComponent
.section-container
  .section-title
    | All Translations
  .section-subtitle
    | Text Elements
  .section-body
    +CreateReactComponent('FullStackBlend.Components.ExternalLibrariesManager', "{}")
  .section-subtitle
    | Any of strings in new Text Element, which you are composing in Site, Components, or Popups, will be automatically shown up here. For Element Coding mode, please use @'[string]'.