include ../../mixin/CreateReactComponent
.section-container
  .section-title
    | All Translations
  .section-subtitle
    | Texts
  .section-body
    +CreateReactComponent('FullStackBlend.Components.LocalizedStringsManager', "{watchingExtensionNames: ['customLocalizedStrings']}")
  .section-note
    | Any of strings in new Text Element, which you are composing in Site, Components, or Popups, will be automatically shown up here. For Element Coding mode, please use @'[string]'. Don't put any sensitive data.