@import "../variables";

// Grid & Display Picker
// -------------------------
.grid-picker,
.display-picker {
  width: 60px;
  
  .btn-group {
    
    .btn {
      line-height: 1.15;
      width: 60px;
      margin-bottom: 0;
    }
    
    &:first-child {
      .btn {
        border-radius: 5px 0 0 5px;
      }
    }
    &:last-child {
      .btn {
        border-radius: 0 5px 5px 0;
      }
    }
    
    .fa {
      font-size: 1.2em;
      margin: 0;
    }
    
    .form-check {
      text-align: center;
      padding: 0;
      
      input {
        position: relative;
        margin: 0;
        pointer-events: none;
      }
    }
  }
}

// Dimension & Appearance & Boundary Picker
// -------------------------
.appearance-picker,
.boundary-picker,
.dimension-picker {
  position: relative;
  width: 238px;
  height: 219px;
  
  .panel-container {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  
  .appearance-panel,
  .boundary-panel,
  .dimension-panel {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    
    &::before {
      position: absolute;
      font-size: 0.75em;
      left: 5px;
      top: 2px;
    }
    
    .style-picker,
    .size-picker {
      position: absolute;
      width: 20px;
      height: 15px;
      margin: -7.5px 0 0 -10px;
      
      &.t {
        top: 9px;
        left: 50%;
      }
      &.r {
        right: 0px;
        top: 50%;
      }
      &.b {
        bottom: 2px;
        left: 50%;
      }
      &.l {
        left: 10px;
        top: 50%;
      }
      
      &.tl {
        top: -2px;
        left: -13px;
      }
      &.tr {
        top: -2px;
        right: -24px;
      }
      &.br {
        bottom: -10px;
        right: -24px;
      }
      &.bl {
        left: -13px;
        bottom: -10px;
      }
      
      .fsb-dropdown-container {
        font-size: 0.75em;
        
        .fsb-dropdown-button {
          width: 20px;
          height: 15px;
          border-radius: 4px;
          border: solid 1px #ccc;
          background-color: rgba(255, 255, 255, 0.75);
          line-height: 15px;
          vertical-align: middle;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
  
  .appearance-position,
  .boundary-position,
  .dimension-position {
    border: 1px dotted rgb(65, 65, 65);
    background-color: rgb(255, 255, 255);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    
    &::before {
      content: 'position';
    }
  }
  .appearance-margin,
  .boundary-margin,
  .dimension-margin {
    border: 1px dashed rgb(65, 65, 65);
    background-color: rgb(243, 204, 164);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    
    &:hover {
      background-color: rgb(243, 204, 164) !important;
    }
    
    &::before {
      content: 'margin';
    }
  }
  .appearance-border,
  .boundary-border,
  .dimension-border {
    border: 1px solid rgb(65, 65, 65);
    background-color: rgb(249, 220, 163);
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    
    &:hover {
      background-color: rgb(249, 220, 163) !important;
    }
    
    &::before {
      content: 'border';
    }
  }
  .boundary-border {
    background-color: rgb(146, 180, 190);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    
    &:hover {
      background-color: rgb(146, 180, 190) !important;
    }
  }
  .appearance-border {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .appearance-padding,
  .boundary-padding,
  .dimension-padding {
    border: 1px dashed rgb(135, 135, 135);
    background-color: rgb(197, 204, 145);
    top: 40px;
    right: 40px;
    bottom: 40px;
    left: 40px;
    
    &:hover {
      background-color: rgb(197, 204, 145) !important;
    }
    
    &::before {
      content: 'padding';
    }
  }
  .appearance-padding {
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
  }
  .appearance-size,
  .boundary-size,
  .dimension-size {
    border: 1px dotted rgb(135, 135, 135);
    background-color: rgb(146, 180, 190);
    top: 60px;
    right: 60px;
    bottom: 60px;
    left: 60px;
    
    &:hover {
      background-color: rgb(146, 180, 190) !important;
    }
    
    &::before {
      content: 'size';
    }
  }
  .boundary-size {
    background-color: rgb(203, 217, 222);
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    
    &:hover {
      background-color: rgb(203, 217, 222) !important;
    }
  }
  
  .boundary-position,
  .appearance-padding,
  .appearance-size,
  .boundary-size,
  .dimension-size
  {
    text-align: center;
    
    .style-picker,
    .size-picker {
      position: relative;
      display: inline-block;
      padding-top: 21px;
      margin: 0;
    }
  }
  .style-picker {
    width: 40px !important;
    margin: -7.5px 0 0 -20px !important;
    z-index: #{$maximum-z-index - 10};
    
    &.r {
      right: -10px !important;
    }
    
    .fsb-dropdown-container {
      .fsb-dropdown-button {
        width: 40px !important;
      }
    }
  }
  .appearance-padding {
    .style-picker {
      padding-top: 48.5px;
      width: 60px !important;
      margin: -7.5px 0 0 0 !important;
      
      .fsb-dropdown-container {
        .fsb-dropdown-button {
          width: 60px !important;
        }
      }
    }
  }
  
  .appearance-border {
    border: none;
  }
  
  .appearance-padding::before {
    content: 'background';
  }
  .boundary-position::before {
    content: 'maximum size';
  }
  .boundary-border::before {
    content: '';
  }
  .boundary-size::before {
    content: 'minimum size';
  }
  
  .hover-container {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    height: 179px;
  }
  
  .hover-container:hover {
    .appearance-panel,
    .boundary-panel,
    .dimension-panel {
      background-color: rgb(255, 255, 255);
    }
  }
}
.boundary-picker {
  .hover-container {
    top: 40px;
    right: 40px;
    bottom: 40px;
    left: 40px;
    height: 139px;
  }
}
.appearance-picker {
  height: 179px;
  
  .hover-container {
    top: 20px;
    right: 40px;
    bottom: 20px;
    left: 40px;
    height: 139px;
  }
}

// Dropdown Picker
// -------------------------
.dropdown-picker {
  font-size: 11px;
  display: inline-block;
  
  .btn::after {
    display: none;
  }
  
  * {
    font-size: 0.8em;
  }
}