@import "../variables";

// Dropdown List & Control
// -------------------------
.fsb-dropdown-menu {
  font-size: 0.8rem;
  overflow-x: hidden;
  min-width: inherit;
  width: auto;
  padding: 3.5px;
  z-index: #{$maximum-z-index - 5};
  display: none;
  
  .fsb-controller-area-container {
    display: table-row;
    
    .fsb-controller-area-body {
      display: table-cell;
      padding: 0 0 3.5px 0;
    }
  }
  .fsb-content-area-container {
    display: table-row;
    height: 100%;
    
    .fsb-content-area-body {
      display: table-cell;
      position: relative;
      
      .fsb-content-area-scrollable {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: auto;
      
        .dropdown-item {
          display: block;
          padding: 0.25rem 0.5rem;
          text-align: center;
          cursor: pointer;
        }
        
        > .input-group {
          border-radius: 0.2em;
          overflow: hidden;
        }
      }
    }
  }
  .section-container {
    padding: 3px;
  }
  
  &.measure {
    width: auto !important;
    height: auto !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    
    .input-group {
      width: 100px;
      
      &.inline {
        width: 135px;
      }
    }
    .color-picker {
      width: 349px;
    }
  }
  &.hide {
    display: none;
  }
  &.show {
    display: table;
  }
}

// Tree
// -------------------------
.tree-container {
  border: 1px solid #ced4da;
  padding: 0.25rem 0.5rem;
  font-size: 0.775rem;
  line-height: 1.0rem;
  border-radius: 0.2rem;
  height: 125px;
  overflow-y: scroll;
}

// File Browser
// -------------------------
.custom-file-label {
  border-color: #4e555b;
  
  &::after {
    left: 0;
    border-left: none;
    color: #fff;
    background-color: #6c757d;
  }
}

// Custom Icon
// -------------------------
.custom-icon-table-top,
.custom-icon-table-right,
.custom-icon-table-bottom,
.custom-icon-table-left,
.custom-icon-table-vertical,
.custom-icon-table-horizontal,
.custom-icon-table-center,
.custom-icon-table-outline {
	position: relative;
	display: block;
	width: 21px;
	height: 21px;
	border: dashed 1px #aaaaaa;

	&::before {
		content: '';
		display: 'block';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 10px;
		border-bottom: dashed 1px #aaaaaa;
	}
	&::after {
		content: '';
		display: 'block';
		position: absolute;
		right: 0;
		bottom: 0;
		width: 10px;
		height: 100%;
		border-left: dashed 1px #aaaaaa;
	}	
}
.custom-icon-table-top {
	border-top: solid 2px #333333;
}
.btn-primary .custom-icon-table-top {
	border-top-color: #ffffff;
}
.custom-icon-table-right {
	border-right: solid 2px #333333;
}
.btn-primary .custom-icon-table-right {
	border-top-color: #ffffff;
}
.custom-icon-table-bottom {
	border-bottom: solid 2px #333333;
}
.btn-primary .custom-icon-table-bottom {
	border-top-color: #ffffff;
}
.custom-icon-table-left {
	border-left: solid 2px #333333;
}
.btn-primary .custom-icon-table-left {
	border-top-color: #ffffff;
}
.custom-icon-table-vertical {
	&::before {
		border-bottom: solid 2px #333333;
	}
}
.btn-primary {
	.custom-icon-table-vertical {
		&::before {
			border-bottom-color: #ffffff;
		}
	}
}
.custom-icon-table-horizontal {
	&::after {
		border-left: solid 2px #333333;
	}
}
.btn-primary {
	.custom-icon-table-horizontal {
		&::after {
			border-left-color: #ffffff;
		}
	}
}
.custom-icon-table-center {
	&::before {
		border-bottom: solid 2px #333333;
	}
	&::after {
		border-left: solid 2px #333333;
	}
}
.btn-primary {
	.custom-icon-table-center {
		&::before {
			border-bottom-color: #ffffff;
		}
		&::after {
			border-left-color: #ffffff;
		}
	}
}
.custom-icon-table-outline {
	border: solid 2px #333333;
}
.btn-primary {
	.custom-icon-table-outline {
		border-color: #ffffff;
	}
}