// Dropdown List & Control
// -------------------------
.fsb-dropdown-menu {
  font-size: 0.8rem;
  overflow-y: scroll;
  min-width: inherit;
  padding-left: 4.5px;
  
  .dropdown-item {
    display: block;
    padding: 0.25rem 0.5rem;
    text-align: center;
    cursor: pointer;
  }
}

// Tree
// -------------------------
.tree-container {
  border: 1px solid #ced4da;
  padding: 0.25rem 0.5rem;
  font-size: 0.775rem;
  line-height: 1.0rem;
  border-radius: 0.2rem;
  height: 125px;
  overflow-y: scroll;
}