::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

// Application
// -------------------------
.workspace-container {
  display: table;
  height: 100%;
  width: 100%;
  padding: 0px;
  
  > .workspace-vertical-container {
    display: table-row;
    width: 100%;
    
    > .workspace-vertical-panel {
      display: table-cell;
      position: relative;
      background: rgb(246,246,246);
    }
  }
  
  .workspace-vertical-container.full-relative-size {
    height: 100%;
    
    > .workspace-vertical-panel {
      background-color: white;
      border-top: solid 1px rgb(200,200,200);
      border-bottom: solid 1px rgb(200,200,200);
    
      &:first-child {
        border-top: none;
      }
    }
  }
  
  > .workspace-horizontal-container {
    display: table-row;
    height: 100%;
    width: 100%;
    
    > .workspace-horizontal-panel {
      display: table-cell;
      vertical-align: top;
      background: rgb(246,246,246);
    }
    
    > .workspace-horizontal-panel.full-relative-size {
      width: 100%;
      position: relative;
      border-left: solid 1px rgb(200,200,200);
      border-right: solid 1px rgb(200,200,200);
      background-color: white;
    }
  }
}

.workspace-tab-container {
  border-bottom: solid 1px rgb(215,215,215) !important;
  
  > .btn-group {
    > .btn {
      border-right: solid 1px rgb(215,215,215) !important;
      margin-left: 0;
      font-size: 0.8em;
      
      &:last-child {
        border-right: none;
      }
    }
  }
}

.workspace-panel-container {
  position: relative;
  width: 100%;
  height: 100%;
  
  > .panel {
    height: 100%;
    display: none;
    
    &.active {
      display: block;
    }
  }
  
  &.scrollable {
    overflow-y: scroll;
  }
  &.white {
    background-color: #fff;
  }
}


// Default Workspace State
//
[internal-fsb-for] {
	display: none;
}

// Toolbar
// -------------------------
.toolbar {
  border-bottom: solid 1px rgb(127,127,127);
  background: rgb(195,195,195);
  background: linear-gradient(0deg, rgba(222,222,222,1) 0%, rgba(232,232,232,1) 50%, rgba(242,242,242,1) 100%);
  
  .btn {
    border-radius: 5px;
    margin-bottom: 17px;
    position: relative;
    
    .title {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -22px;
      font-size: 0.85em;
    }
  }
  
  i.fa {
    min-width: 21px;
    min-height: 18px;
  }
  
  .dropdown-menu {
    top: 20px;
    
    .dropdown-item {
      cursor: pointer;
    }
  }
}

// Tooltip
// -------------------------
.tooltip {
  .tooltip-inner {
    min-width: 240px;
    color: #666;
    background-color: #fff;
    -webkit-box-shadow: 1.5px 1.5px 3px 3px #ddd;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1.5px 1.5px 3px 3px #ddd;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1.5px 1.5px 3px 3px #ddd;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    text-align: left;
    
    p {
      margin: 0 3px;
      font-size: 0.9em;
      
      b {
        color: #000;
        font-weight: 500;
        font-size: 1.15em;
      }
    }
  }
}
.tooltip.bs-tooltip-top > .arrow::before { border-top-color: white; }
.tooltip.bs-tooltip-bottom > .arrow::before { border-bottom-color: white; }
.tooltip.bs-tooltip-left > .arrow::before { border-left-color: white; }
.tooltip.bs-tooltip-right > .arrow::before { border-right-color: white; }