// Sidebar
// -------------------------
.sidebar {
  width: 259px;
  
  .btn.btn-sm {
    font-size: 0.8rem;
  }
  
  .dropdown-item {
    font-size: 0.8rem;
  }
  
  .fa {
    &.active {
      opacity: 1.0;
    }
    
    &.inactive {
      opacity: 0.4;
    }
  }
}

// Section
// -------------------------
.section-container {
  font-size: 13px;
  font-weight: 400;
  padding: 7px;
  
  .section-title {
    font-weight: 500;
    margin: 3px 0 0;
    color: #444;
  }
  
  .section-subtitle {
    font-size: 12px;
    margin: 3px 0 0;
    color: #888;
  }
  
  .section-body {
    margin: 3px 0;
  }
  
  .section-note {
    font-size: 12px;
    margin: 7px 0 0;
    color: #888;
    text-align: center;
  }
}

.section-hr {
  margin: 4px 7px;
  height: 1px;
  background-color: #ddd;
}