include ../../../mixin/CreateReactComponent
div.siteToolset.popupsToolset.componentsToolset.dataToolset.servicesToolset.toolset
  +CreateReactComponent('FullStackBlend.Components.ComputedStyleManager', "{watchingAttributeNames: []}")
div.propertiesToolset.toolset(style="display: none;")
  include ../../../common/puzzle