include ../../../mixin/CreateReactComponent
div(internal-fsb-for="areFormatAndStyleOptionsAvailable")
  div(internal-fsb-not-for="internal-fsb-inheriting")
    .section-container
      .section-title
        | Dimension
      .section-subtitle
        | Size & Position
      .section-body
        +CreateReactComponent('FullStackBlend.Components.DimensionPicker')
      .section-subtitle
        | Minimum & Maximum Size
      .section-body
        +CreateReactComponent('FullStackBlend.Components.BoundaryPicker')
      div(internal-fsb-not-for="editorCurrentMode:animation, editorCurrentMode:coding")
        .section-subtitle(internal-fsb-for="internal-fsb-class:Image, internal-fsb-class:Video, internal-fsb-class:Flash")
          | Media Extension
        .section-body(internal-fsb-for="internal-fsb-class:Image, internal-fsb-class:Video, internal-fsb-class:Flash")
          +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['ratio'], watchingAttributeNames: ['internal-fsb-react-style-ratio']}")
      .section-hr
    .section-container
      .section-title
        | Traditional Layout
      .section-subtitle
        | Container
      .section-body
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['display'], watchingAttributeNames: ['internal-fsb-react-style-display']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['position'], watchingAttributeNames: ['internal-fsb-react-style-position']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['z-index'], watchingAttributeNames: ['internal-fsb-react-style-z-index']}")
        span(internal-fsb-for="isNotContainingInFlexbox:true")
          +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['float'], watchingAttributeNames: ['internal-fsb-react-style-float']}")
          +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['clear'], watchingAttributeNames: ['internal-fsb-react-style-clear']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['visibility'], watchingAttributeNames: ['internal-fsb-react-style-visibility']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['overflow-x'], watchingAttributeNames: ['internal-fsb-react-style-overflow-x']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['overflow-y'], watchingAttributeNames: ['internal-fsb-react-style-overflow-y']}")
      .section-subtitle
        | Children
      .section-body
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['object-fit'], watchingAttributeNames: ['internal-fsb-react-style-object-fit']}")
        span(internal-fsb-not-for="editorCurrentMode:coding")
          +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['object-position[0,2]', 'object-position']}")
          +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['object-position[1,2]', 'object-position']}")
        span(internal-fsb-for="editorCurrentMode:coding")
          +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-object-position']}")
      .section-note
        | Float:, clear:, display: inline, and position: absolute options don't work inside any flexbox container, including FlowLayout.
      .section-hr
    .section-container
      .section-title
        | Flexbox Layout
      .section-subtitle
        | Container
      .section-body
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['flex-direction'], watchingAttributeNames: ['internal-fsb-react-style-flex-direction']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['flex-wrap'], watchingAttributeNames: ['internal-fsb-react-style-flex-wrap']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['justify-content'], watchingAttributeNames: ['internal-fsb-react-style-justify-content']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['align-items'], watchingAttributeNames: ['internal-fsb-react-style-align-items']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['align-content'], watchingAttributeNames: ['internal-fsb-react-style-align-content']}")
      .section-subtitle
        | Children
      .section-body
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['flex-basis'], watchingAttributeNames: ['internal-fsb-react-style-flex-basis']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['flex-grow'], watchingAttributeNames: ['internal-fsb-react-style-flex-grow']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['flex-shrink'], watchingAttributeNames: ['internal-fsb-react-style-flex-shrink']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['order'], watchingAttributeNames: ['internal-fsb-react-style-order']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['align-self'], watchingAttributeNames: ['internal-fsb-react-style-align-self']}")
      .section-note
        | Flow Layout is a flexbox ready element. If you want to entirely customize it, consider using a set of Rectangle instead.
      .section-hr
    .section-container
      .section-title
        | Appearance
      .section-subtitle
        | Style & Color
      .section-body(internal-fsb-not-for="editorCurrentMode:coding")
        +CreateReactComponent('FullStackBlend.Components.AppearancePicker')
      .section-body(internal-fsb-for="editorCurrentMode:coding")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-border-top-style']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-border-top-color']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-border-right-style']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-border-right-color']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-border-bottom-style']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-border-bottom-color']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-border-left-style']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-border-left-color']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-border-radius']}")
      .section-subtitle
        | Background Options
      .section-body
        span(internal-fsb-for="editorCurrentMode:coding")
          +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-background-color']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-image'], watchingAttributeNames: ['internal-fsb-react-style-background-image']}")
        span(internal-fsb-not-for="editorCurrentMode:coding")
          +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-position[0,2]', 'background-position']}")
          +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-position[1,2]', 'background-position']}")
        span(internal-fsb-for="editorCurrentMode:coding")
          +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-background-position']}")
        span(internal-fsb-not-for="editorCurrentMode:coding")
          +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-size[0,2]', 'background-size']}")
          +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-size[1,2]', 'background-size']}")
        span(internal-fsb-for="editorCurrentMode:coding")
          +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-background-size']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-size'], watchingAttributeNames: ['internal-fsb-react-style-background-size']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-origin'], watchingAttributeNames: ['internal-fsb-react-style-background-origin']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-clip'], watchingAttributeNames: ['internal-fsb-react-style-background-clip']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-repeat'], watchingAttributeNames: ['internal-fsb-react-style-background-repeat']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-attachment'], watchingAttributeNames: ['internal-fsb-react-style-background-attachment']}")
      .section-subtitle(internal-fsb-not-for="editorCurrentMode:coding")
        | Text Shadow
      .section-body(internal-fsb-not-for="editorCurrentMode:coding")
        +CreateReactComponent('FullStackBlend.Components.ColorPicker', "{watchingStyleNames: ['text-shadow[3,4]', 'text-shadow'], watchingExtensionNames: ['editorCurrentMode']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['text-shadow[0,4]', 'text-shadow']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['text-shadow[1,4]', 'text-shadow']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['text-shadow[2,4]', 'text-shadow']}")
      .section-subtitle(internal-fsb-not-for="editorCurrentMode:coding")
        | Box Shadow
      .section-body(internal-fsb-not-for="editorCurrentMode:coding")
        +CreateReactComponent('FullStackBlend.Components.ColorPicker', "{watchingStyleNames: ['box-shadow[3,4]', 'box-shadow'], watchingExtensionNames: ['editorCurrentMode']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['box-shadow[0,4]', 'box-shadow']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['box-shadow[1,4]', 'box-shadow']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['box-shadow[2,4]', 'box-shadow']}")
      .section-subtitle.internal-fsb-selecting-on
        | Blending Options
      .section-body.internal-fsb-selecting-on
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['opacity'], watchingAttributeNames: ['internal-fsb-react-style-opacity']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-blend-mode'], watchingAttributeNames: ['internal-fsb-react-style-background-blend-mode']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['mix-blend-mode'], watchingAttributeNames: ['internal-fsb-react-style-mix-blend-mode']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['image-rendering'], watchingAttributeNames: ['internal-fsb-react-style-image-rendering']}")
      .section-subtitle
        | Mouse
      .section-subtitle
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['pointer-events'], watchingAttributeNames: ['internal-fsb-react-style-pointer-events']}")
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['cursor'], watchingAttributeNames: ['internal-fsb-react-style-cursor']}")
      .section-hr.internal-fsb-selecting-on(internal-fsb-not-for="editorCurrentMode:coding")
    .section-container.internal-fsb-selecting-on(internal-fsb-not-for="editorCurrentMode:coding")
      .section-title
        | Transform
      .section-body
        +CreateReactComponent('FullStackBlend.Components.Transformer')
    .section-container
      .section-note(internal-fsb-for="editorCurrentMode:animation")
        | Options which have a red underline aren't animatable and will render the last one assigned to keyframes on the same track instead. Consider using the alternative options available.
  div(internal-fsb-for="internal-fsb-inheriting")
    .section-container(internal-fsb-not-for="internal-fsb-class:Iframe, internal-fsb-class:Textbox,internal-fsb-class:Select,internal-fsb-class:Radio,internal-fsb-class:Checkbox,internal-fsb-class:File,internal-fsb-class:Image,internal-fsb-class:Video")
      .section-title
        | Dimension
      .section-subtitle
        | Size & Position
      .section-body
        +CreateReactComponent('FullStackBlend.Components.DimensionPicker')
      .section-hr
    .section-container
      .section-title
        | Traditional Layout
      .section-subtitle
        | Container
      .section-body
        +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['position'], watchingAttributeNames: ['internal-fsb-react-style-position']}")
    div(internal-fsb-for="internal-fsb-class:Iframe, internal-fsb-class:Textbox,internal-fsb-class:Select,internal-fsb-class:Radio,internal-fsb-class:Checkbox,internal-fsb-class:File,internal-fsb-class:Image,internal-fsb-class:Video")
      include ../../../common/empty
div(internal-fsb-not-for="areFormatAndStyleOptionsAvailable")
  include ../../../common/empty