.workspace-vertical-container(id='timeline')
  .workspace-vertical-panel
    include animation/timeline
.workspace-vertical-container(id='codeEditor')
  .workspace-vertical-panel
    include coding/coding