.workspace-vertical-container(id='timeline')
  .workspace-vertical-panel.siteToolset.componentsToolset.popupsToolset.toolset
    include animation/timeline
  .workspace-vertical-panel.dataToolset.servicesToolset.propertiesToolset.toolset(style="border-top: solid 1px #c8c8c8;")
    include ../common/puzzle
.workspace-vertical-container(id='codeEditor')
  .workspace-vertical-panel
    include coding/coding