include ../../mixin/CreateReactComponent
.section-container
  .section-title
    | Business Constraints
  .section-subtitle
    | All business constraints on moral certainties of the current software's development.
  .section-body
    +CreateReactComponent('FullStackBlend.Components.CustomProjectSettingsManager', "{watchingExtensionNames: ['definedBusinessConstraints'], allowSpecialCharactersOfTitle: true}")
  .section-note
    | Please provide any evidences which firms, corporations or limited liability companies, are also able to perform them.