include ../../mixin/CreateReactComponent
.section-container
  .section-title
    | Evolvement Strictness
  .section-subtitle
    | Grade
  .section-body
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingExtensionNames: ['workspaceStrictnessGrade']}")
  .section-note
    | Success company starts from prototypings, not enterprise graded products.
  .section-title
    | Prototype Grade
  .section-subtitle
    | Merging Protection
  .section-body
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingExtensionNames: ['workspaceStrictnessProtectMergingMode']}")
  .section-subtitle
    | Lauching Protection
  .section-body
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingExtensionNames: ['workspaceStrictnessProtectLauchingMode']}")
  .section-note
    | This evolvement is for enthusiasts, students, or start-ups, who are going to provide the services to beta customers and companies. This period won't mind all of the enterprise workplace's environment practices.
  .section-title
    | Pitching Grade
  .section-subtitle
    | Branching Mode
  .section-body(internal-fsb-for="workspaceStrictnessGrade:pitching, workspaceStrictnessGrade:start-up, workspaceStrictnessGrade:company, workspaceStrictnessGrade:enterprise")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingExtensionNames: ['workspaceStrictnessBranchingMode']}")
  .section-subtitle
    | Automatically Reverting
  .section-body(internal-fsb-for="workspaceStrictnessGrade:pitching, workspaceStrictnessGrade:start-up, workspaceStrictnessGrade:company, workspaceStrictnessGrade:enterprise")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingExtensionNames: ['workspaceStrictnessRevertMode']}")
  .section-note
    | This evolvement period will focus on speedy and cost effective, including productionalize to be able to serve the services to any company's firms. Excellency in coding isn't neccessary in this period. But product's bugless, compatibility, and rapid fixing are the most important. 
  .section-title
    | Start-Up Grade
  .section-subtitle
    | Commit Message
  .section-body(internal-fsb-for="workspaceStrictnessGrade:start-up, workspaceStrictnessGrade:company, workspaceStrictnessGrade:enterprise")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingExtensionNames: ['workspaceStrictnessSentenceMode']}")
  .section-subtitle
    | Code Reusablity
  .section-body(internal-fsb-for="workspaceStrictnessGrade:start-up, workspaceStrictnessGrade:company, workspaceStrictnessGrade:enterprise")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingExtensionNames: ['workspaceStrictnessReusabilityMode']}")
  .section-note
    | This start-up environment grade may have any high professional colleague joining your company. You have to watch out on code quality, readability, and there might be some code refractoring, too. You have to choose to own the code together, transfer, or separate all of the coding credits.
  .section-title
    | Company Grade
  .section-subtitle
    | Code Review
  .section-body(internal-fsb-for="workspaceStrictnessGrade:company, workspaceStrictnessGrade:enterprise")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingExtensionNames: ['workspaceStrictnessCodeReviewMode']}")
  .section-subtitle
    | Riskiest Assumption and Test
  .section-body(internal-fsb-for="workspaceStrictnessGrade:company, workspaceStrictnessGrade:enterprise")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingExtensionNames: ['workspaceStrictnessRiskyMode']}")
  .section-subtitle
    | Emphasizing Prototyping
  .section-body(internal-fsb-for="workspaceStrictnessGrade:company, workspaceStrictnessGrade:enterprise")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingExtensionNames: ['workspaceStrictnessPrototypeEmphasizingMode']}")
  .section-subtitle
    | Approval for Lauching
  .section-body(internal-fsb-for="workspaceStrictnessGrade:company, workspaceStrictnessGrade:enterprise")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingExtensionNames: ['workspaceStrictnessLauchingMode']}")
  .section-note
    | Any new business savvy people will join the business, but it doesn't mean that they know how they work together. They will start thinking how to improve the company, and some of methodologies will be changed. While the cost effective is still important, the rest of the team will have to defend any pathway of all along of evolvement, to reduce the wasteful costs.
  .section-title
    | Enterprise Grade
  .section-subtitle
    | Product Tracking
  .section-body(internal-fsb-for="workspaceStrictnessGrade:enterprise")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingExtensionNames: ['workspaceStrictnessProductTrackingMode']}")
  .section-subtitle
    | Checking-In
  .section-body(internal-fsb-for="workspaceStrictnessGrade:enterprise")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingExtensionNames: ['workspaceStrictnessProductCheckInMode']}")
  .section-subtitle
    | Consecutive Commiting
  .section-body(internal-fsb-for="workspaceStrictnessGrade:enterprise")
    +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingExtensionNames: ['workspaceStrictnessProductCommitMode']}")
  .section-note
    | This period has a lot of resource and time, including monetary and laboring. Your colleagues will work hard, too, but the performance monitoring is starting to be crucial in this period. All of hard works need to be unbiased for everyone, especially business team.