.section-container(internal-fsb-for="internal-fsb-class:HTML")
  .section-title
    | Html Options
  .section-subtitle
    | Raw HTML
  .section-body
    +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['internal-fsb-inner-html'], inline: true, button: false, multiline: true, placeholder: '＜div＞abc＜/div＞'}")
  .section-hr