.section-container(internal-fsb-for="internal-fsb-class:Link")
  .section-title
    | Link Options
  .section-subtitle
    | Popup React Class
  .section-body
    +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['internal-fsb-popup-init-class'], inline: true, button: false, placeholder: 'Project.Controls.ClassName'}")
  .section-hr