.section-container(internal-fsb-for="internal-fsb-class:SVG")
  .section-title
    | Scalable Vector Graphics Options
  .section-subtitle
    | Raw Code
  .section-body
    +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['internal-fsb-inner-html'], inline: true, button: false, multiline: true, placeholder: '<svg></svg>'}")
  .section-hr