@import "../common/bootstrap/mixins/animation";
@import "../common/bootstrap/functions";
@import "../common/bootstrap/variables";
@import "../common/bootstrap/mixins/breakpoints";
@import "../common/variables";

// Scaffolding
//
html, body {
  overflow-x: hidden;
  overflow-y: auto;
}

.internal-fsb-guide-on {
  // Layout
  //
  .internal-fsb-table-layout {
    > tbody {
      > tr {
        height: 20px;
        
        > td {
          border: dashed 1px rgba(0, 0, 255, 127);
          
          &.internal-fsb-selected {
            background-color: rgba(0, 144, 255, 0.5) !important;
          }
        }
      }
    }
    
    .internal-fsb-resizer {
      display: table-caption !important;
    }
  }
  
  .internal-fsb-strict-layout {
    > .internal-fsb-element {
    	min-height: 20px;
      border: solid 1px rgba(0, 0, 255, 127);
    }
  }
  
  .internal-fsb-absolute-layout {
    > .internal-fsb-element {
    	min-height: 20px;
      border: solid 1px rgba(0, 255, 0, 127);
    }
  }
  
  [internal-fsb-class="FlowLayout"],
  [internal-fsb-class="AbsoluteLayout"],
  [internal-fsb-class="Rectangle"] {
    padding: 1px;
  }
  
  // Guide
  //
  .internal-fsb-guide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: #{$maximum-z-index - 1};
    
    .container,
    .container-fluid {
      height: 100%;
      
      .row {
        height: 100%; 
        
        .col-1 {
          position: relative;
          height: 100%;
          
          &::before,
          &:last-child::after {
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            top: 0;
            bottom: 0;
            left: -0.5px;
            background-color: rgba(0, 0, 0, 0.05);
          }
          
          &:last-child::after {
            left: inherit;
            right: -0.5px;
          }
        }
      }
    }
  }
}

.internal-fsb-guide-off {
  // Guide
  //
  .internal-fsb-guide {
    display: none;
  }
}

// Cursor
//
.internal-fsb-cursor {
  position: relative;
  left: inherit;
  top: inherit;
  min-height: 20px;
  
  .col-1::before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: $maximum-z-index;
    width: 1px;
    height: 20px;
    
    @include animation(0, 1s, animation-blink);
  }
}
body.internal-fsb-focusing-text-element,
body.internal-fsb-mode-coding {
  .internal-fsb-cursor {
    display: none;
  }
}

@include keyframe(animation-blink) {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: transparent;
  }
  50.00001% {
    background-color: black;
  }
  100% {
    background-color: black;
  }
}

// Dragger
//
.internal-fsb-element {
  &[internal-fsb-class="Button"] {
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
  }

  > .internal-fsb-resizer {
    display: none;
      
    span {
      position: absolute;
      
      &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: #{$maximum-z-index - 2};
        top: -#{$selected-element-resizer-size/2}px;
        left: -#{$selected-element-resizer-size/2}px;
        background-color: white;
        width: #{$selected-element-resizer-size}px;
        height: #{$selected-element-resizer-size}px;
        border: solid 1px rgb(0, 0, 255);
      }
      
      &.t { top: 0 !important; left: 50%; cursor: n-resize; }
      &.r { left: 100% !important; top: 50%; cursor: e-resize; }
      &.b { top: 100% !important; left: 50%; cursor: s-resize; }
      &.l { left: 0 !important; top: 50%; cursor: w-resize; }
      &.t.l { cursor: nw-resize; }
      &.t.r { cursor: ne-resize; }
      &.b.r { cursor: se-resize; }
      &.b.l { cursor: sw-resize; }
    }
  }
}

.internal-fsb-strict-layout {
  > .internal-fsb-element {
    > .internal-fsb-resizer {
      display: block;
    }
  }
}

.internal-fsb-absolute-layout {
  > .internal-fsb-element {
    > .internal-fsb-resizer {
      display: block;
      
      span {
        &::before {
          border: solid 1px rgb(0, 255, 0);
        }
      }
    }
  }
}

.internal-fsb-element {
	> .container,
  > .container-fluid {
  	height: inherit;
  	min-height: inherit;
  	      
	  > .row {
	    height: inherit;
  		min-height: inherit;
	  }
	}
}

// Layout Info
//
.internal-layout-info {
  position: fixed;
  top: -1000px;
  height: 0px;
  width: 100px;
}

// Hidden Element
//
.internal-fsb-guide-on {
  @include media-breakpoint-only(xs) {
    .internal-fsb-strict-layout > .internal-fsb-element,
    .internal-fsb-absolute-layout > .internal-fsb-element {
      &.d-none {
        border: solid 1px rgb(255, 0, 0);
        > .internal-fsb-resizer {
          span {
            &::before {
              border: solid 1px rgb(255, 0, 0);
            }
          }
        }
        &.d-preserve-space {
          visibility: visible !important;
          outline-style: dashed;
        }
      }
    }
  }
  @include media-breakpoint-only(sm) {
    .internal-fsb-strict-layout > .internal-fsb-element,
    .internal-fsb-absolute-layout > .internal-fsb-element {
      &.d-sm-none {
        border: solid 1px rgb(255, 0, 0);
        > .internal-fsb-resizer {
          span {
            &::before {
              border: solid 1px rgb(255, 0, 0);
            }
          }
        }
        &.d-sm-preserve-space {
          visibility: visible !important;
          outline-style: dashed;
        }
      }
    }
  }
  @include media-breakpoint-only(md) {
    .internal-fsb-strict-layout > .internal-fsb-element,
    .internal-fsb-absolute-layout > .internal-fsb-element {
      &.d-md-none {
        border: solid 1px rgb(255, 0, 0);
        > .internal-fsb-resizer {
          span {
            &::before {
              border: solid 1px rgb(255, 0, 0);
            }
          }
        }
        &.d-md-preserve-space {
          visibility: visible !important;
          outline-style: dashed;
        }
      }
    }
  }
  @include media-breakpoint-only(lg) {
    .internal-fsb-strict-layout > .internal-fsb-element,
    .internal-fsb-absolute-layout > .internal-fsb-element {
      &.d-lg-none {
        border: solid 1px rgb(255, 0, 0);
        > .internal-fsb-resizer {
          span {
            &::before {
              border: solid 1px rgb(255, 0, 0);
            }
          }
        }
        &.d-lg-preserve-space {
          visibility: visible !important;
          outline-style: dashed;
        }
      }
    }
  }
  @include media-breakpoint-only(xl) {
    .internal-fsb-strict-layout > .internal-fsb-element,
    .internal-fsb-absolute-layout > .internal-fsb-element {
      &.d-xl-none {
        border: solid 1px red;
        > .internal-fsb-resizer {
          span {
            &::before {
              border: solid 1px rgb(255, 0, 0);
            }
          }
        }
        &.d-xl-preserve-space {
          visibility: visible !important;
          outline-style: dashed;
        }
      }
    }
  }
  
  .internal-fsb-element.d-none,
  .internal-fsb-element.d-sm-none,
  .internal-fsb-element.d-md-none,
  .internal-fsb-element.d-lg-none,
  .internal-fsb-element.d-xl-none {
		display: block !important;
		visibility: visible !important;
	}
  table.internal-fsb-element.d-none,
  table.internal-fsb-element.d-sm-none,
  table.internal-fsb-element.d-md-none,
  table.internal-fsb-element.d-lg-none,
  table.internal-fsb-element.d-xl-none {
		display: table !important;
		visibility: visible !important;
	}
}

input[type='radio'], input[type='checkbox'] {
  pointer-events: none !important;
}

.internal-fsb-element[internal-fsb-class="Iframe"],
.internal-fsb-element[internal-fsb-class="HTML"],
.internal-fsb-element[internal-fsb-class="Video"] {
  iframe {
    pointer-events: none;
  }
}