@import "../common/bootstrap/mixins/animation";
@import "../common/bootstrap/functions";
@import "../common/bootstrap/variables";
@import "../common/bootstrap/mixins/breakpoints";
@import "../common/variables";

// Scaffolding
//
html, body {
  overflow-x: hidden;
  overflow-y: auto;
}

html.internal-fsb-guide-on {
  // Layout
  //
  .internal-fsb-table-layout {
    > tbody {
      > tr {
        height: 20px;
        
        > td {
          border: dashed 1px rgba(0, 0, 255, 127);
          
          &.internal-fsb-selected {
            background-color: rgba(0, 144, 255, 0.5) !important;
          }
        }
      }
    }
    
    .internal-fsb-resizer {
      display: table-caption !important;
    }
  }
  
  .internal-fsb-strict-layout {
  	> .internal-fsb-inheriting-element,
    > .internal-fsb-element {
    	min-height: 20px;
      border: solid 1px rgba(0, 0, 255, 127);
    }
  }
  
  .internal-fsb-absolute-layout {
  	> .internal-fsb-inheriting-element,
    > .internal-fsb-element {
    	min-height: 20px;
      border: solid 1px rgba(0, 255, 0, 127);
    }
  }
  
  [internal-fsb-class="FlowLayout"],
  [internal-fsb-class="AbsoluteLayout"],
  [internal-fsb-class="Rectangle"] {
    padding: 1px;
  }
  
  [internal-fsb-inheriting] {
    > :first-child {
      pointer-events: none;
      z-index: 0;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      background: repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 10px,
        rgba(0, 0, 0, 0.3) 10px,
        rgba(0, 0, 0, 0.3) 20px
      );
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }
  
  // Guide
  //
  .internal-fsb-guide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: #{$maximum-z-index - 1};
    
    .container,
    .container-fluid {
      height: 100%;
      
      .row {
        height: 100%; 
        
        .col-1 {
          position: relative;
          height: 100%;
          
          &::before,
          &:last-child::after {
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            top: 0;
            bottom: 0;
            left: -0.5px;
            background-color: rgba(0, 0, 0, 0.05);
          }
          
          &:last-child::after {
            left: inherit;
            right: -0.5px;
          }
        }
      }
    }
  }
}

.internal-fsb-guide-off {
  // Guide
  //
  .internal-fsb-guide {
    display: none;
  }
  
  [internal-fsb-inheriting] {
    > :first-child {
      pointer-events: none;
    }
  }
}

.internal-fsb-disabled-guide {
	.internal-fsb-guide {
    display: none !important;
  }
}

// Cursor
//
.internal-fsb-cursor {
  position: relative;
  left: inherit;
  top: inherit;
  min-height: 20px;
  
  .col-1::before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: $maximum-z-index;
    width: 1px;
    height: 20px;
    
    @include animation(0, 1s, animation-blink);
  }
}
body.internal-fsb-focusing-text-element,
body.internal-fsb-mode-coding {
  .internal-fsb-cursor {
    display: none;
  }
}

@include keyframe(animation-blink) {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: transparent;
  }
  50.00001% {
    background-color: black;
  }
  100% {
    background-color: black;
  }
}

// Dragger
//
.internal-fsb-inheriting-element,
.internal-fsb-element {
  &[internal-fsb-class="Button"] {
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
  }

  > .internal-fsb-resizer {
    display: none;
      
    span {
      position: absolute;
      
      &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: #{$maximum-z-index - 2};
        top: -#{$selected-element-resizer-size/2}px;
        left: -#{$selected-element-resizer-size/2}px;
        background-color: white;
        width: #{$selected-element-resizer-size}px;
        height: #{$selected-element-resizer-size}px;
        border: solid 1px rgb(0, 0, 255);
      }
      
      &.t { top: 0 !important; left: 50%; cursor: n-resize; }
      &.r { left: 100% !important; top: 50%; cursor: e-resize; }
      &.b { top: 100% !important; left: 50%; cursor: s-resize; }
      &.l { left: 0 !important; top: 50%; cursor: w-resize; }
      &.t.l { cursor: nw-resize; }
      &.t.r { cursor: ne-resize; }
      &.b.r { cursor: se-resize; }
      &.b.l { cursor: sw-resize; }
    }
  }
}

.internal-fsb-strict-layout {
	> .internal-fsb-inheriting-element,
  > .internal-fsb-element {
    > .internal-fsb-resizer {
      display: block;
    }
  }
}

.internal-fsb-absolute-layout {
	> .internal-fsb-inheriting-element,
  > .internal-fsb-element {
    > .internal-fsb-resizer {
      display: block;
      
      span {
        &::before {
          border: solid 1px rgb(0, 255, 0);
        }
      }
    }
  }
}

.internal-fsb-inheriting-element,
.internal-fsb-element {
	> .container,
  > .container-fluid {
  	height: 100%;
  	min-height: inherit;
	}
}

// Layout Info
//
.internal-layout-info {
  position: fixed;
  top: -1000px;
  height: 0px;
  width: 100px;
}

// Hidden Element
//
html.internal-fsb-guide-on {
  @include media-breakpoint-only(xs) {
    .internal-fsb-strict-layout > .internal-fsb-inheriting-element,
    .internal-fsb-absolute-layout > .internal-fsb-inheriting-element,
    .internal-fsb-strict-layout > .internal-fsb-element,
    .internal-fsb-absolute-layout > .internal-fsb-element {
      &.d-none {
        border: solid 1px rgb(255, 0, 0);
        > .internal-fsb-resizer {
          span {
            &::before {
              border: solid 1px rgb(255, 0, 0);
            }
          }
        }
        &.d-preserve-space {
          visibility: visible !important;
          outline-style: dashed;
        }
      }
    }
  }
  @include media-breakpoint-only(sm) {
    .internal-fsb-strict-layout > .internal-fsb-inheriting-element,
    .internal-fsb-absolute-layout > .internal-fsb-inheriting-element,
    .internal-fsb-strict-layout > .internal-fsb-element,
    .internal-fsb-absolute-layout > .internal-fsb-element {
      &.d-sm-none {
        border: solid 1px rgb(255, 0, 0);
        > .internal-fsb-resizer {
          span {
            &::before {
              border: solid 1px rgb(255, 0, 0);
            }
          }
        }
        &.d-sm-preserve-space {
          visibility: visible !important;
          outline-style: dashed;
        }
      }
    }
  }
  @include media-breakpoint-only(md) {
    .internal-fsb-strict-layout > .internal-fsb-inheriting-element,
    .internal-fsb-absolute-layout > .internal-fsb-inheriting-element,
    .internal-fsb-strict-layout > .internal-fsb-element,
    .internal-fsb-absolute-layout > .internal-fsb-element {
      &.d-md-none {
        border: solid 1px rgb(255, 0, 0);
        > .internal-fsb-resizer {
          span {
            &::before {
              border: solid 1px rgb(255, 0, 0);
            }
          }
        }
        &.d-md-preserve-space {
          visibility: visible !important;
          outline-style: dashed;
        }
      }
    }
  }
  @include media-breakpoint-only(lg) {
    .internal-fsb-strict-layout > .internal-fsb-inheriting-element,
    .internal-fsb-absolute-layout > .internal-fsb-inheriting-element,
    .internal-fsb-strict-layout > .internal-fsb-element,
    .internal-fsb-absolute-layout > .internal-fsb-element {
      &.d-lg-none {
        border: solid 1px rgb(255, 0, 0);
        > .internal-fsb-resizer {
          span {
            &::before {
              border: solid 1px rgb(255, 0, 0);
            }
          }
        }
        &.d-lg-preserve-space {
          visibility: visible !important;
          outline-style: dashed;
        }
      }
    }
  }
  @include media-breakpoint-only(xl) {
    .internal-fsb-strict-layout > .internal-fsb-inheriting-element,
    .internal-fsb-absolute-layout > .internal-fsb-inheriting-element,
    .internal-fsb-strict-layout > .internal-fsb-element,
    .internal-fsb-absolute-layout > .internal-fsb-element {
      &.d-xl-none {
        border: solid 1px red;
        > .internal-fsb-resizer {
          span {
            &::before {
              border: solid 1px rgb(255, 0, 0);
            }
          }
        }
        &.d-xl-preserve-space {
          visibility: visible !important;
          outline-style: dashed;
        }
      }
    }
  }
  
  .internal-fsb-inheriting-element.d-none,
  .internal-fsb-inheriting-element.d-sm-none,
  .internal-fsb-inheriting-element.d-md-none,
  .internal-fsb-inheriting-element.d-lg-none,
  .internal-fsb-inheriting-element.d-xl-none,
  .internal-fsb-element.d-none,
  .internal-fsb-element.d-sm-none,
  .internal-fsb-element.d-md-none,
  .internal-fsb-element.d-lg-none,
  .internal-fsb-element.d-xl-none {
		display: block !important;
		visibility: visible !important;
	}
  table.internal-fsb-inheriting-element.d-none,
  table.internal-fsb-inheriting-element.d-sm-none,
  table.internal-fsb-inheriting-element.d-md-none,
  table.internal-fsb-inheriting-element.d-lg-none,
  table.internal-fsb-inheriting-element.d-xl-none,
  table.internal-fsb-element.d-none,
  table.internal-fsb-element.d-sm-none,
  table.internal-fsb-element.d-md-none,
  table.internal-fsb-element.d-lg-none,
  table.internal-fsb-element.d-xl-none {
		display: table !important;
		visibility: visible !important;
	}
}

input[type='radio'], input[type='checkbox'] {
  pointer-events: none !important;
}

.internal-fsb-inheriting-element[internal-fsb-class="Iframe"],
.internal-fsb-inheriting-element[internal-fsb-class="HTML"],
.internal-fsb-inheriting-element[internal-fsb-class="Video"],
.internal-fsb-element[internal-fsb-class="Iframe"],
.internal-fsb-element[internal-fsb-class="HTML"],
.internal-fsb-element[internal-fsb-class="Video"] {
  iframe {
    pointer-events: none;
  }
}

.internal-fsb-dragging-handle {
  cursor: move;
}

// Data Flows
//
.internal-fsb-element[internal-fsb-class="RelationalDatabase"],
.internal-fsb-element[internal-fsb-class="DocumentDatabase"] {
  border: dashed 1px #aaaaaa !important;
  border-radius: 5px;
}

.internal-fsb-element[internal-fsb-class="RelationalDatabase"],
.internal-fsb-element[internal-fsb-class="RelationalTable"],
.internal-fsb-element[internal-fsb-class="DocumentDatabase"],
.internal-fsb-element[internal-fsb-class="DocumentTable"],
.internal-fsb-element[internal-fsb-class="WorkerInstance"],
.internal-fsb-element[internal-fsb-class="VolatileMemory"] {
  > .internal-fsb-title {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    font-size: 15px;
    font-weight: bold;
    color: #444;
    padding-bottom: 7px;
    
    &::before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-variant: normal;
      line-height: 1;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #444444;
      margin-right: 5px;
    }
  }
}
.internal-fsb-element[internal-fsb-class="RelationalDatabase"] {
  > .internal-fsb-title {
    &::before {
      content: "\f1e0";
    }
  }
}
.internal-fsb-element[internal-fsb-class="RelationalTable"] {
  > .internal-fsb-title {
    &::before {
      content: "\f0ce";
    }
  }
}
.internal-fsb-element[internal-fsb-class="DocumentDatabase"] {
  > .internal-fsb-title {
    &::before {
      content: "\f15b";
      font-weight: 400;
    }
  }
}
.internal-fsb-element[internal-fsb-class="DocumentTable"] {
  > .internal-fsb-title {
    &::before {
      content: "\f0ce";
    }
  }
}
.internal-fsb-element[internal-fsb-class="WorkerInstance"] {
  > .internal-fsb-title {
    &::before {
      content: "\f162";
    }
  }
}
.internal-fsb-element[internal-fsb-class="VolatileMemory"] {
  > .internal-fsb-title {
    &::before {
      content: "\f08d";
    }
  }
}

.internal-fsb-element[internal-fsb-class="RelationalTable"],
.internal-fsb-element[internal-fsb-class="DocumentTable"],
.internal-fsb-element[internal-fsb-class="WorkerInstance"],
.internal-fsb-element[internal-fsb-class="VolatileMemory"] {
  width: 225px !important;
  height: 150px;
  background-color: #f5f5f5;
  border: solid 1px #cccccc !important;
  border-top: solid 5px #cccccc !important;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}

.internal-fsb-element[internal-fsb-class="RelationalColumn"],
.internal-fsb-element[internal-fsb-class="DocumentNotation"],
.internal-fsb-element[internal-fsb-class="WorkerQueue"] {
  margin-top: 0 !important;
  margin-left: 0 !important;
  min-height: auto !important;
  -ms-flex: 0 0 100% !important;
  flex: 0 0 100% !important;
  max-width: 100% !important;
  
  font-size: 15px;
  color: #444;
  padding: 3px 5px;
  border: none !important;
  border-bottom: dashed 1px #cccccc !important;
}

.internal-fsb-element[internal-fsb-class="Connection"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  padding-top: 2px;
  
  width: 30px !important;
  height: 20px !important;
  min-height: 20px !important;
  background-color: #007bff;
  border: none !important;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  
  &::before {
    content: "\f074";
  }
}