@import "../common/bootstrap/mixins/animation";
@import "../common/bootstrap/functions";
@import "../common/bootstrap/variables";
@import "../common/bootstrap/mixins/breakpoints";
@import "../common/variables";

// ---------------------------------------------------------------------------
// Scaffolding using to distinguish layout and element 
// ---------------------------------------------------------------------------
html, body {
  overflow-x: hidden;
  overflow-y: auto;
}

// These styles will be active when the guide toggle is turning on.
html.internal-fsb-guide-on {
  // -------------------------------------------------------------------------
	// Table Layout: using a traditonal of <table> tag
	// -------------------------------------------------------------------------
  .internal-fsb-table-layout {
    > tbody {
      > tr {
      	// The height while the toggle is on
        height: 20px;
        
        > td {
          outline: dashed 1px rgba(0, 0, 255, 127);
          
          // The style of selecting cell
          &.internal-fsb-selected {
            background-color: rgba(0, 144, 255, 0.5) !important;
          }
          
          // The height of cursor while containing in a none Bootstrap layout
          > .internal-fsb-cursor {
				  	height: 20px !important;
				  }
        }
      }
    }
    
    // The required style of the resizer, <div>, while containing in <table>
    .internal-fsb-resizer {
      display: table-caption !important;
    }
  }
  
  // -------------------------------------------------------------------------
	// Flow Layout: using twelve-griddling system from Bootstrap
	// -------------------------------------------------------------------------
  .internal-fsb-strict-layout {
  	> .internal-fsb-inheriting-element,
    > .internal-fsb-element {
    	// The minimum height while the toggle is on which may be sized equaling
    	// to the height of cell which is containing the element
    	min-height: 20px;
      outline: solid 1px rgba(0, 0, 255, 127);
      
      // Distinguish React element from the others to prevent user from loosing
      // the React code attributed right in this element.
      &[internal-fsb-react-mode] {
      	outline-color: #7f20ff;
      }
    }
  }
  
  // -------------------------------------------------------------------------
	// Absolute Layout: using absolute <div>
	// -------------------------------------------------------------------------
  .internal-fsb-absolute-layout {
  	> .internal-fsb-inheriting-element,
    > .internal-fsb-element {
    	// The height while the toggle is on
    	min-height: 20px;
      outline: solid 1px rgba(0, 255, 0, 127);
      
      // Distinguish React element from the others to prevent user from loosing
      // the React code attributed right in this element.
      &[internal-fsb-react-mode] {
      	outline-color: #7f20ff;
      }
    }
  }
  
  // -------------------------------------------------------------------------
	// Distinguish inheriting React component (reusing) for the others to indicate
	// that it cannot be edited.
	// -------------------------------------------------------------------------
  [internal-fsb-inheriting] {
    > :first-child {
      pointer-events: none;
      z-index: 0;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      background: repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 10px,
        rgba(0, 0, 0, 0.3) 10px,
        rgba(0, 0, 0, 0.3) 20px
      );
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }
  
  // -------------------------------------------------------------------------
  // Vertical grid to grate the element size using Bootstrap's gridding system.
  // -------------------------------------------------------------------------
  .internal-fsb-guide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: #{$maximum-z-index - 1};
        
	  .col-1 {
	    position: relative;
	    height: 100%;
	    
	    &::before,
	    &:last-child::after {
	      content: '';
	      display: block;
	      position: absolute;
	      width: 1px;
	      top: 0;
	      bottom: 0;
	      left: -1.0px;
	      background-color: rgba(0, 0, 0, 0.05);
	    }
	    
	    &:last-child::after {
	      left: inherit;
	      right: -1.0px;
	    }
	  }
  }
}

// These styles will be active when the guide toggle is turning off.
.internal-fsb-guide-off {
  // Turning off vertical grid
  .internal-fsb-guide {
    display: none;
  }
  
	// Turning off the distinguishing of inheriting React component but keep it
	// from selectable.
  [internal-fsb-inheriting] {
    > :first-child {
      pointer-events: none;
    }
  }
}

// This class used to always turning off all of guidings.
.internal-fsb-disabled-guide {
	.internal-fsb-guide {
    display: none !important;
  }
}

// ---------------------------------------------------------------------------
// An inline cursor, which can use the keyboard keys, up, down, left, right, to
// move it
// ---------------------------------------------------------------------------
.internal-fsb-cursor {
  display: inline-block;
  position: relative;
  left: inherit;
  top: inherit;
  min-height: 20px;
  width: 0px;
  
  // The container space for the inline cursor perhaps it's being contained
  // in a container which doesn't use the Bootstrap's griddling system.
  .col-1 {
  	width: 100%;
  	height: 100%;
  }
  
  // The style of the inline cursor which always has a height of 20px. And when
  // it's being contained in a column using Bootstrap's griddling system, it will
  // be positioned at the bottom.
  .col-1::before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    z-index: $maximum-z-index;
    width: 2px;
    min-height: 20px;
    
    // The blinking of the inline cursor
    @include animation(0, 1s, animation-blink);
  }
}

// Turning off the cursor while editing text in a Text Element, or while in the
// coding mode
body.internal-fsb-focusing-text-element,
body.internal-fsb-mode-coding {
  .internal-fsb-cursor {
    display: none;
  }
}

// Extra style for the container space if the cursor placed in an Absolute Layout
.internal-fsb-absolute-layout > .internal-fsb-cursor > .col-1 {
	height: 20px;
	width: 1px;
}

// The blinking of the inline cursor's declaration
@include keyframe(animation-blink) {
  0% {
    background-color: rgba(255, 255, 255, 128);
  }
  45% {
    background-color: rgba(255, 255, 255, 128);
  }
  55% {
    background-color: #444444;
  }
  100% {
    background-color: #444444;
  }
}

// Dragger
//
.internal-fsb-inheriting-element,
.internal-fsb-element {
  &[internal-fsb-class="Button"] {
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
    
    outline: none !important;
  }

  > .internal-fsb-resizer {
    display: none;
      
    span {
      position: absolute;
      
      &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: #{$maximum-z-index - 3};
        top: -#{$selected-element-resizer-size/2}px;
        left: -#{$selected-element-resizer-size/2}px;
        background-color: white;
        width: #{$selected-element-resizer-size}px;
        height: #{$selected-element-resizer-size}px;
        outline: solid 1px rgb(0, 0, 255);
      }
      
      &.t { top: 0 !important; left: 50%; cursor: n-resize; }
      &.r { left: 100% !important; top: 50%; cursor: e-resize; }
      &.b { top: 100% !important; left: 50%; cursor: s-resize; }
      &.l { left: 0 !important; top: 50%; cursor: w-resize; }
      &.t.l { cursor: nw-resize; }
      &.t.r { cursor: ne-resize; }
      &.b.r { cursor: se-resize; }
      &.b.l { cursor: sw-resize; }
    }
  }
}

.internal-fsb-inheriting-element,
.internal-fsb-element {
	&.internal-fsb-selecting {
		outline: dashed 2px rgba(0, 0, 255, 0.5);
	}
}

html.internal-fsb-guide-on {
  .internal-fsb-inheriting-element,
  .internal-fsb-element {
    &.internal-fsb-walking {
    	outline: solid 1px rgba(255, 0, 255, 0.75);
      
	    &.internal-fsb-strict-layout > .internal-fsb-element,
	    &.internal-fsb-absolute-layout > .internal-fsb-element,
	    > .internal-fsb-element {
    	  outline: solid 1px rgba(255, 0, 255, 0.75);
    	  
    	  &.internal-fsb-selecting {
      		outline: dashed 2px rgba(0, 0, 255, 0.5);
      	}
      }
      
      &.internal-fsb-selecting {
    		outline: dashed 2px rgba(0, 0, 255, 0.5);
    	}
    }
  }
}

.internal-fsb-strict-layout {
	> .internal-fsb-inheriting-element,
  > .internal-fsb-element {
    > .internal-fsb-resizer {
      display: block;
    }
  }
}

.internal-fsb-absolute-layout {
	> .internal-fsb-inheriting-element,
  > .internal-fsb-element {
    > .internal-fsb-resizer {
      display: block;
      
      span {
        &::before {
          outline: solid 1px rgb(0, 255, 0);
        }
      }
    }
  }
}

.internal-fsb-inheriting-element,
.internal-fsb-element {
  flex-wrap: wrap;
}

// Layout Info
//
.internal-layout-info {
  position: fixed;
  top: -1000px;
  height: 0px;
  width: 100px;
}

// Hidden Element
//
html.internal-fsb-guide-on {
  @include media-breakpoint-only(xs) {
    .internal-fsb-strict-layout > .internal-fsb-inheriting-element,
    .internal-fsb-absolute-layout > .internal-fsb-inheriting-element,
    .internal-fsb-strict-layout > .internal-fsb-element,
    .internal-fsb-absolute-layout > .internal-fsb-element {
      &.d-none {
        outline: solid 1px rgb(255, 0, 0);
        > .internal-fsb-resizer {
          span {
            &::before {
              outline: solid 1px rgb(255, 0, 0);
            }
          }
        }
        &.d-preserve-space {
          visibility: visible !important;
          outline-style: dashed;
        }
      }
    }
  }
  @include media-breakpoint-only(sm) {
    .internal-fsb-strict-layout > .internal-fsb-inheriting-element,
    .internal-fsb-absolute-layout > .internal-fsb-inheriting-element,
    .internal-fsb-strict-layout > .internal-fsb-element,
    .internal-fsb-absolute-layout > .internal-fsb-element {
      &.d-sm-none {
        outline: solid 1px rgb(255, 0, 0);
        > .internal-fsb-resizer {
          span {
            &::before {
              outline: solid 1px rgb(255, 0, 0);
            }
          }
        }
        &.d-sm-preserve-space {
          visibility: visible !important;
          outline-style: dashed;
        }
      }
    }
  }
  @include media-breakpoint-only(md) {
    .internal-fsb-strict-layout > .internal-fsb-inheriting-element,
    .internal-fsb-absolute-layout > .internal-fsb-inheriting-element,
    .internal-fsb-strict-layout > .internal-fsb-element,
    .internal-fsb-absolute-layout > .internal-fsb-element {
      &.d-md-none {
        outline: solid 1px rgb(255, 0, 0);
        > .internal-fsb-resizer {
          span {
            &::before {
              outline: solid 1px rgb(255, 0, 0);
            }
          }
        }
        &.d-md-preserve-space {
          visibility: visible !important;
          outline-style: dashed;
        }
      }
    }
  }
  @include media-breakpoint-only(lg) {
    .internal-fsb-strict-layout > .internal-fsb-inheriting-element,
    .internal-fsb-absolute-layout > .internal-fsb-inheriting-element,
    .internal-fsb-strict-layout > .internal-fsb-element,
    .internal-fsb-absolute-layout > .internal-fsb-element {
      &.d-lg-none {
        outline: solid 1px rgb(255, 0, 0);
        > .internal-fsb-resizer {
          span {
            &::before {
              outline: solid 1px rgb(255, 0, 0);
            }
          }
        }
        &.d-lg-preserve-space {
          visibility: visible !important;
          outline-style: dashed;
        }
      }
    }
  }
  @include media-breakpoint-only(xl) {
    .internal-fsb-strict-layout > .internal-fsb-inheriting-element,
    .internal-fsb-absolute-layout > .internal-fsb-inheriting-element,
    .internal-fsb-strict-layout > .internal-fsb-element,
    .internal-fsb-absolute-layout > .internal-fsb-element {
      &.d-xl-none {
        outline: solid 1px red;
        > .internal-fsb-resizer {
          span {
            &::before {
              outline: solid 1px rgb(255, 0, 0);
            }
          }
        }
        &.d-xl-preserve-space {
          visibility: visible !important;
          outline-style: dashed;
        }
      }
    }
  }
  
  .internal-fsb-inheriting-element.d-none,
  .internal-fsb-inheriting-element.d-sm-none,
  .internal-fsb-inheriting-element.d-md-none,
  .internal-fsb-inheriting-element.d-lg-none,
  .internal-fsb-inheriting-element.d-xl-none,
  .internal-fsb-element.d-none,
  .internal-fsb-element.d-sm-none,
  .internal-fsb-element.d-md-none,
  .internal-fsb-element.d-lg-none,
  .internal-fsb-element.d-xl-none {
		display: block !important;
		visibility: visible !important;
	}
  table.internal-fsb-inheriting-element.d-none,
  table.internal-fsb-inheriting-element.d-sm-none,
  table.internal-fsb-inheriting-element.d-md-none,
  table.internal-fsb-inheriting-element.d-lg-none,
  table.internal-fsb-inheriting-element.d-xl-none,
  table.internal-fsb-element.d-none,
  table.internal-fsb-element.d-sm-none,
  table.internal-fsb-element.d-md-none,
  table.internal-fsb-element.d-lg-none,
  table.internal-fsb-element.d-xl-none {
		display: table !important;
		visibility: visible !important;
	}
}

input[type='radio'], input[type='checkbox'] {
  pointer-events: none !important;
}

.internal-fsb-inheriting-element[internal-fsb-class="Iframe"],
.internal-fsb-inheriting-element[internal-fsb-class="HTML"],
.internal-fsb-inheriting-element[internal-fsb-class="Video"],
.internal-fsb-element[internal-fsb-class="Iframe"],
.internal-fsb-element[internal-fsb-class="HTML"],
.internal-fsb-element[internal-fsb-class="Video"],
.internal-fsb-element[internal-fsb-class="Flash"] {
 	iframe, video, object, a {
  	pointer-events: none;
  }
}

.internal-fsb-dragging-handle {
  cursor: move;
}

.internal-fsb-inheriting-element[internal-fsb-class="Iframe"],
.internal-fsb-inheriting-element[internal-fsb-class="Textbox"],
.internal-fsb-inheriting-element[internal-fsb-class="Select"],
.internal-fsb-inheriting-element[internal-fsb-class="Radio"],
.internal-fsb-inheriting-element[internal-fsb-class="Checkbox"],
.internal-fsb-inheriting-element[internal-fsb-class="File"],
.internal-fsb-inheriting-element[internal-fsb-class="Image"],
.internal-fsb-inheriting-element[internal-fsb-class="Video"],
.internal-fsb-inheriting-element[internal-fsb-class="Flash"],
.internal-fsb-element[internal-fsb-class="Iframe"],
.internal-fsb-element[internal-fsb-class="Textbox"],
.internal-fsb-element[internal-fsb-class="Select"],
.internal-fsb-element[internal-fsb-class="Radio"],
.internal-fsb-element[internal-fsb-class="Checkbox"],
.internal-fsb-element[internal-fsb-class="File"],
.internal-fsb-element[internal-fsb-class="Image"],
.internal-fsb-element[internal-fsb-class="Video"],
.internal-fsb-element[internal-fsb-class="Flash"] {
 	padding: 0px;
}

[internal-fsb-ratio-fit] {
	position: absolute !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
}

[internal-fsb-ratio-expand] {
	display: block !important;
	visibility: hidden !important;
	width: 100% !important;
	pointer-events: none !important;
}

.internal-fsb-measuring {
	outline: solid red 1px !important;
}

.internal-fsb-top-red-line, .internal-fsb-right-red-line, .internal-fsb-bottom-red-line, .internal-fsb-left-red-line, .internal-fsb-info-red-line {
	position: fixed;
	pointer-events: none;
	z-index: #{$maximum-z-index - 1};
	
	.internal-fsb-red-line-value {
		position: absolute;
		background-color: red;
		color: white;
		font-family: Arial;
		font-size: 10px;
		line-height: 9px;
		padding: 2px 4px;
		border-radius: 5px;
		white-space: nowrap;
	}
}
.internal-fsb-top-red-line {
	border-left: solid red 1px;
	
	.internal-fsb-red-line-value {
		top: 50%;
		margin-top: -6.5px;
	}
}
.internal-fsb-right-red-line {
	border-top: solid red 1px;
	
	.internal-fsb-red-line-value {
		left: 50%;
		margin-top: -6.5px;
	}
}
.internal-fsb-bottom-red-line {
	border-left: solid red 1px;
	
	.internal-fsb-red-line-value {
		top: 50%;
		margin-top: -6.5px;
	}
}
.internal-fsb-left-red-line {
	border-top: solid red 1px;
	
	.internal-fsb-red-line-value {
		left: 50%;
		margin-top: -6.5px;
	}
}
.internal-fsb-info-red-line {
	z-index: #{$maximum-z-index - 2};

	.internal-fsb-red-line-value {
		margin-top: -6.5px;
	}
}