include ../../../mixin/CreateReactComponent
.section-container
  .section-title
    | Dimension
  .section-subtitle
    | Size & Position
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DimensionPicker')
  .section-subtitle
    | Minimum & Maximum Size
  .section-body
    +CreateReactComponent('FullStackBlend.Components.BoundaryPicker')
  .section-subtitle
    | Containing Behaviours
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['object-fit'], watchingAttributeNames: ['internal-fsb-react-style-object-fit']}")
    span(internal-fsb-not-for="editorCurrentMode:coding")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['object-position[0,2]', 'object-position']}")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['object-position[1,2]', 'object-position']}")
    span(internal-fsb-for="editorCurrentMode:coding")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-object-position']}")
  .section-subtitle
    | Container Behaviours
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['overflow-x'], watchingAttributeNames: ['internal-fsb-react-style-overflow-x']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['overflow-y'], watchingAttributeNames: ['internal-fsb-react-style-overflow-y']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['position'], watchingAttributeNames: ['internal-fsb-react-style-position']}")
  .section-hr
.section-container
  .section-title
    | Appearance
  .section-subtitle
    | Style & Color
  .section-body(internal-fsb-not-for="editorCurrentMode:coding")
    +CreateReactComponent('FullStackBlend.Components.AppearancePicker')
  .section-body(internal-fsb-for="editorCurrentMode:coding")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-border-top-style']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-border-top-color']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-border-right-style']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-border-right-color']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-border-bottom-style']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-border-bottom-color']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-border-left-style']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-border-left-color']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-border-radius']}")
  .section-subtitle
    | Background Options
  .section-body
    span(internal-fsb-for="editorCurrentMode:coding")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-background-color']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-image'], watchingAttributeNames: ['internal-fsb-react-style-background-image']}")
    span(internal-fsb-not-for="editorCurrentMode:coding")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-position[0,2]', 'background-position']}")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-position[1,2]', 'background-position']}")
    span(internal-fsb-for="editorCurrentMode:coding")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-background-position']}")
    span(internal-fsb-not-for="editorCurrentMode:coding")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-size[0,2]', 'background-size']}")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-size[1,2]', 'background-size']}")
    span(internal-fsb-for="editorCurrentMode:coding")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-background-size']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-origin'], watchingAttributeNames: ['internal-fsb-react-style-background-origin']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-clip'], watchingAttributeNames: ['internal-fsb-react-style-background-clip']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-repeat'], watchingAttributeNames: ['internal-fsb-react-style-background-repeat']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-attachment'], watchingAttributeNames: ['internal-fsb-react-style-background-attachment']}")
  .section-subtitle.internal-fsb-selecting-on
    | Blending Options
  .section-body.internal-fsb-selecting-on
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['opacity'], watchingAttributeNames: ['internal-fsb-react-style-opacity']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['background-blend-mode'], watchingAttributeNames: ['internal-fsb-react-style-background-blend-mode']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['mix-blend-mode'], watchingAttributeNames: ['internal-fsb-react-style-mix-blend-mode']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['image-rendering'], watchingAttributeNames: ['internal-fsb-react-style-image-rendering']}")
  .section-hr
.section-container
  .section-title
    | Format
  .section-body
    span(internal-fsb-not-for="editorCurrentMode:coding")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['font-family'], searchBox: true, useMaximumHeight: true}")
      +CreateReactComponent('FullStackBlend.Components.ColorPicker', "{watchingStyleNames: ['color']}")
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingStyleNames: ['font-style', 'font-weight', 'text-decoration-line', 'font-family']}")
      +CreateReactComponent('FullStackBlend.Components.RadioButtonPicker', "{watchingStyleNames: ['text-align']}")
    span(internal-fsb-for="editorCurrentMode:coding")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-font-family']}")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-color']}")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-font-style']}")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-text-align']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['font-size'], watchingAttributeNames: ['internal-fsb-react-style-font-size']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['font-weight', 'font-family', 'font-style'], watchingAttributeNames: ['internal-fsb-react-style-font-weight']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['text-transform'], watchingAttributeNames: ['internal-fsb-react-style-text-transform']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['vertical-align'], watchingAttributeNames: ['internal-fsb-react-style-vertical-align']}")
  .section-subtitle
    | Spacing
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['text-indent'], watchingAttributeNames: ['internal-fsb-react-style-text-indent']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['text-justify'], watchingAttributeNames: ['internal-fsb-react-style-text-justify']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['letter-spacing'], watchingAttributeNames: ['internal-fsb-react-style-letter-spacing']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['word-spacing'], watchingAttributeNames: ['internal-fsb-react-style-word-spacing']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['tab-size'], watchingAttributeNames: ['internal-fsb-react-style-tab-size']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['line-height'], watchingAttributeNames: ['internal-fsb-react-style-line-height']}")
  .section-subtitle
    | Multiline
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['white-space'], watchingAttributeNames: ['internal-fsb-react-style-white-space']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['word-break'], watchingAttributeNames: ['internal-fsb-react-style-word-break']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['hyphens'], watchingAttributeNames: ['internal-fsb-react-style-hyphens']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['text-overflow'], watchingAttributeNames: ['internal-fsb-react-style-text-overflow']}")
  .section-subtitle
    | Decoration
  .section-body
    span(internal-fsb-not-for="editorCurrentMode:coding")
      +CreateReactComponent('FullStackBlend.Components.ColorPicker', "{watchingStyleNames: ['text-decoration-color']}")
    span(internal-fsb-for="editorCurrentMode:coding")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-text-decoration-color']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['text-decoration-line'], watchingAttributeNames: ['internal-fsb-react-style-text-decoration-line']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['text-decoration-style'], watchingAttributeNames: ['internal-fsb-react-style-text-decoration-style']}")
  .section-subtitle
    | Others
  .section-body
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['writing-mode'], watchingAttributeNames: ['internal-fsb-react-style-writing-mode']}")
    span(internal-fsb-not-for="editorCurrentMode:coding")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['quotes[0,2]', 'quotes']}")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['quotes[1,2]', 'quotes']}")
    span(internal-fsb-for="editorCurrentMode:coding")
      +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingAttributeNames: ['internal-fsb-react-style-quotes']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['direction'], watchingAttributeNames: ['internal-fsb-react-style-direction']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['unicode-bidi'], watchingAttributeNames: ['internal-fsb-react-style-unicode-bidi']}")
  .section-hr
.section-container(internal-fsb-for="internal-fsb-class:List")
  .section-title
    | List
  .section-subtitle
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['list-style-image'], watchingAttributeNames: ['internal-fsb-react-style-list-style-image']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['list-style-position'], watchingAttributeNames: ['internal-fsb-react-style-list-style-position']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['list-style-type'], watchingAttributeNames: ['internal-fsb-react-style-list-style-type']}")
  .section-hr
.section-container.internal-fsb-selecting-on(internal-fsb-not-for="editorCurrentMode:coding")
  .section-title
    | Transform
  .section-body
    +CreateReactComponent('FullStackBlend.Components.Transformer')
  .section-hr
.section-container
  .section-title
    | Others
  .section-subtitle
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['clear'], watchingAttributeNames: ['internal-fsb-react-style-clear']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['float'], watchingAttributeNames: ['internal-fsb-react-style-float']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['display'], watchingAttributeNames: ['internal-fsb-react-style-display']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['visibility'], watchingAttributeNames: ['internal-fsb-react-style-visibility']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['pointer-events'], watchingAttributeNames: ['internal-fsb-react-style-pointer-events']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['cursor'], watchingAttributeNames: ['internal-fsb-react-style-cursor']}")
    +CreateReactComponent('FullStackBlend.Components.DropDownPicker', "{watchingStyleNames: ['z-index'], watchingAttributeNames: ['internal-fsb-react-style-z-index']}")