.section-container(internal-fsb-for="internal-fsb-class:Button")
  .section-title
    | Button Options
  .section-subtitle
    | Placeholder
  .section-body
    +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['placeholder'], inline: true, button: false}")
  .section-hr