.section-container(internal-fsb-for="internal-fsb-class:Radio")
  .section-title
    | Radio Options
  .section-subtitle
    | Placeholder
  .section-body
    +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['placeholder'], inline: true, button: false}")
  .section-hr