.section-container(internal-fsb-for="internal-fsb-class:Textbox")
  .section-title
    | Textbox Options
  .section-subtitle
    | Default Value
  .section-body
    +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['value'], inline: true, button: false}")
  .section-subtitle
    | Placeholder
  .section-body
    +CreateReactComponent('FullStackBlend.Components.TextPicker', "{watchingAttributeNames: ['placeholder'], inline: true, button: false}")
  .section-hr