.section-container(internal-fsb-for="internal-fsb-class:Video")
  .section-title
    | Video Options
  .section-subtitle
    | Source
  .section-body
    +CreateReactComponent('FullStackBlend.Components.FilePicker', "{watchingAttributeNames: ['src'], inline: true, button: false}")
  .section-hr