// Sidebar
// -------------------------
.sidebar {
  width: 259px;
  
  .workspace-panel-container {
    .btn.btn-sm {
      font-size: 11px;
    }
    
    .dropdown-item {
      font-size: 11px;
    }
    
    .fa {
      &.active {
        color: #007bff;
      }
    }
  }
}

// Event
// -------------------------
#event {
  display: none;
  
  &.active {
    display: table-row;
  }
}

// Section
// -------------------------
.section-container {
  font-size: 13px;
  font-weight: 400;
  padding: 7px;
  
  .section-title {
    font-weight: 600;
    margin: 3px 0 0;
    color: #007bff;
  }
  
  .section-subtitle {
    font-size: 12px;
    line-height: 1.3em;
    margin: 3px 0 0;
    color: #888;
  }
  
  .section-body {
    margin: 3px 0;
  }
  
  .section-note {
    font-size: 12px;
    line-height: 1.25em;
    margin: 7px 0 0;
    color: #888;
    text-align: center;
  }

  .section-hr {
    margin: 11px 0 0;
    height: 1px;
    background-color: #ddd;
  }
  
  &.help {
  	.section-subtitle {
  		color: #007bff;
  	}
  	
  	.section-body {
  		color: #999;
  		font-size: 11px;
  		text-indent: 14px;
    	margin-bottom: 8px;
  		line-height: 1.3em;
  	}
  	
  	img {
  		max-width: 100%;
    	margin: 10px 0 5px;
  	}
  	
  	.section-note {
    	font-size: 11px;
    	margin: 0;
  	}
  	
  	ol, ul, dl {
  		margin-top: 5px;
  		margin-bottom: 10px;
  		padding-left: 15px;
  		text-indent: 0;
  		
  		li {
  			text-indent: 0;
  		}
  	}
  }
}

pre {
	margin: 5px 0;
	text-align: left;
	font-size: 10px;
	line-height: 10px;
	color: #888;
	overflow: hidden;
}