// Workspace
//
.workspace-container {
  display: table;
  height: 100%;
  width: 100%;
  padding: 0px;
  
  > .workspace-vertical-container {
    display: table-row;
    width: 100%;
    
    > .workspace-vertical-panel {
      display: table-cell;
      position: relative;
      background: rgb(246,246,246);
    }
  }
  
  .workspace-vertical-container.full-relative-size {
    height: 100%;
    
    > .workspace-vertical-panel {
      background-color: white;
      border-top: solid 1px rgb(200,200,200);
      border-bottom: solid 1px rgb(200,200,200);
    
      &:first-child {
        border-top: none;
      }
    }
  }
  
  > .workspace-horizontal-container {
    display: table-row;
    height: 100%;
    width: 100%;
    
    > .workspace-horizontal-panel {
      display: table-cell;
      vertical-align: top;
      background: rgb(246,246,246);
    }
    
    > .workspace-horizontal-panel.full-relative-size {
      width: 100%;
      position: relative;
      border-left: solid 1px rgb(200,200,200);
      border-right: solid 1px rgb(200,200,200);
      background-color: white;
    }
  }
}

.workspace-tab-container {
  border-bottom: solid 1px rgb(215,215,215) !important;
  
  > .btn-group {
    > .btn {
      border-right: solid 1px rgb(215,215,215) !important;
      margin-left: 0;
      font-size: 0.8em;
      
      &:last-child {
        border-right: none;
      }
    }
  }
}

.workspace-panel-container {
  position: relative;
  width: 100%;
  height: 100%;
  
  > .panel {
    height: 100%;
    display: none;
    
    &.active {
      display: block;
    }
  }
  
  &.scrollable {
    overflow-y: scroll;
  }
  &.white {
    background-color: #fff;
  }
}

// Default Workspace State
//
[internal-fsb-for] {
	display: none;
}

body.internal-fsb-selecting-off {
	.internal-fsb-selecting-on {
		display: none !important;
	}
}
body.internal-fsb-selecting-on {
	.internal-fsb-selecting-off {
		display: none !important;
	}
}